<div class="modal-header">
  <h4 class="modal-title">Sign in</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p *ngIf="message" style="color: red;">{{message}}</p>
  <form (submit)="login()">
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" name="username" type="text" [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" name="password" type="password" [(ngModel)]="password">
    </div>
    <button type="submit" style="display:none">Sign in</button>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="login()">Sign in</button>
  <button type="button" class="btn btn-outline-secondary" (click)="close()">Cancel</button>
</div>
