<h4 mat-dialog-title i18n>Sign in</h4>
<mat-dialog-content>
  <p *ngIf="message" style="color: red;">{{message}}</p>
  <form (submit)="login()">
    <mat-form-field>
      <input matInput placeholder="Username" [(ngModel)]="username" name="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="password">
    </mat-form-field>
    <button type="submit" style="display:none">{{ 'Sign in' | translate }}</button>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="login()" color="primary">{{ 'Sign in' | translate }}</button>
  <button mat-button mat-dialog-close>{{ 'Cancel' | translate }}</button>
</mat-dialog-actions>
