<ng-container *ngIf="property.selectionProvider; else simple">
  <mat-form-field *ngIf="property.selectionProvider.displayMode == 'DROPDOWN'" [formGroup]="form">
    <mat-select [formControlName]="property.name" [placeholder]="property.name">
      <mat-option *ngFor="let option of property.selectionProvider.options" [value]="option.v">
        {{ option.l }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>
<ng-template #simple>
  <mat-form-field *ngIf="portofino.isString(property)" [formGroup]="form">
    <input matInput [formControlName]="property.name"
           [placeholder]="property.name">
  </mat-form-field >
  <mat-form-field  *ngIf="portofino.isNumber(property)" [formGroup]="form">
    <input matInput [formControlName]="property.name"
           [placeholder]="property.name">
  </mat-form-field >
  <mat-form-field  *ngIf="portofino.isDate(property)" [formGroup]="form">
    <input matInput [formControlName]="property.name"
           [placeholder]="property.name"
           [matDatepicker]="datepicker">
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker></mat-datepicker>
  </mat-form-field >
</ng-template>
