<div fxLayout="column" fxLayoutGap="20px">
  <div>
    Search
    <form (submit)="search()">
      <div fxLayout="row wrap" fxLayoutGap="10px" >
        <portofino-crud-search-field
          *ngFor="let field of searchFields"
          [searchQuery]="searchQuery" [property]="field">
        </portofino-crud-search-field>
      </div>
      <div fxLayout="row">
        <button mat-raised-button color="primary">
          <mat-icon>search</mat-icon>
          Search
        </button>
        <button mat-raised-button (click)="clearSearch()" type="reset">Clear</button>
      </div>
    </form>
  </div>
  <div class="search-results" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start stretch">
    <table mat-table [dataSource]="resultsDataSource"
           matSort (matSortChange)="sort($event)"
           class="mat-elevation-z8">
      <ng-container *ngFor="let field of resultFields" [matColumnDef]="field.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{field.name}}</th>
        <td mat-cell *matCellDef="let row">
          <a href="#" *ngIf="field.key" (click)="openDetail(row.__rowKey)">
            {{row[field.name].displayValue || row[field.name].value}}
          </a>
          <span *ngIf="!field.key">
            {{row[field.name].displayValue || row[field.name].value}}
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row">
        <ng-template [ngTemplateOutlet]="buttons"></ng-template>
      </div>
      <mat-paginator [length]="results ? results.totalRecords : 0"
                     [pageSize]="pageSize"
                     (page)="loadPage($event)">
      </mat-paginator>
    </div>
  </div>
</div>
