<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [userId=%X{userId},userName=%X{userName}] %logger{40} [%F:%L]%n%level: %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate" level="warn"/>
    <logger name="org.hibernate.connection" level="info"/>
    <!--<logger name="com.manydesigns.portofino.dispatcher" level="debug"/>-->
    <logger name="net.sourceforge.stripes.tag.FormTag" level="off"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>