<div fxLayout="column" fxLayoutGap="20px">
  <h2>{{ 'New' | translate }}</h2>
  <form (submit)="save()" *ngIf="object">
    <portofino-form [controls]="form" [form]="formDefinition" (formReset)="onFormReset()"
                    fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="default center"></portofino-form>
    <div fxLayout="row">
      <button mat-raised-button (click)="save()" color="primary">
        <mat-icon>save</mat-icon>
        {{ 'Save' | translate }}
      </button>
      <button mat-raised-button (click)="cancel()" type="button">{{ 'Cancel' | translate }}</button>
    </div>
  </form>
</div>
