<div *ngIf="!pageService.error"></div>
<ng-container *ngIf="!pageService.error">
  <div *ngIf="!pageService.page" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
  <div [hidden]="!pageService.page">
    <ng-template portofino-main-page></ng-template>
  </div>
</ng-container>
<div *ngIf="!!pageService.error && pageService.error.status !== 0" class="mat-display-2 error">
  {{ 'Page not found! Error: _' | translate:{ error: pageService.error.message || pageService.error }  }}
</div>
<div *ngIf="!!pageService.error && pageService.error.status === 0" class="mat-display-2 error">
  {{ 'Communication error' | translate }}
</div>
