<ng-container *ngIf="form">
  <ng-container *ngFor="let content of form.contents" [formGroup]="controls">
    <ng-container *ngIf="isField(content)" >
      <portofino-field [property]="content.property" [type]="content.type"
                       [enabled]="form.editable && content.editable" [selectable]="form.selectableFields"
                       [context]="content.mergeContext({ objectUrl: form.baseUrl })"
                       [ngClass]="{ multiline: isMultiline(content.property) }">
      </portofino-field>
    </ng-container>
    <ng-container *ngIf="isFieldSet(content)">
      <fieldset *ngIf="content.visible">
        <legend>{{content.label}}</legend>
        <portofino-form [form]="content.contents" [controls]="controls.get(content.name)"
                        fxLayout="row wrap"></portofino-form>
      </fieldset>
      <portofino-form *ngIf="!content.visible"
                      [form]="content.contents" [controls]="controls.get(content.name)"
                      fxLayout="row wrap"></portofino-form>
    </ng-container>
    <ng-container *ngIf="isFormList(content)">
      <portofino-form *ngFor="let form of content.contents; let i = index;"
                      [form]="form" [controls]="$any(controls.get(content.name)).at(i)"
                      fxLayout="row wrap"></portofino-form>
    </ng-container>
    <ng-template portofino-dynamic-form-component
                 [name]="content.name" [ngIf]="content.hasOwnProperty('component')"></ng-template>
    <div *ngIf="content.html" [innerHTML]="content.html"></div>
  </ng-container>
</ng-container>
