mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  min-width: 300px !important;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;
}

.mat-list-base {
  padding-top: 0;
}

.mat-list-item {
  padding: 8px 0;
  display: flex;
  width: auto;

  .routeIcon {
    margin-right: 40px;
  }
}

.submenu {
  margin-left: 10px !important;
  font-size: small !important;
}
