<ng-template #defaultTemplate let-content="content" let-page="page">
  <ng-template [ngTemplateOutlet]="content"></ng-template>
  <portofino-page *ngFor="let child of page.getEmbeddedChildren()"
                  [parent]="page" [embedded]="true" [segment]="child.path"></portofino-page>
</ng-template>
<div class="page" [class.embedded]="page.embedded">
  <portofino-page-header [page]="page"></portofino-page-header>
  <div class="page-body">
    <ng-container *ngIf="!page.settingsPanel.active && !template">
      {{"Loading..." | translate }}
    </ng-container>
    <ng-container *ngIf="!page.settingsPanel.active && template">
      <ng-template [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{ content: content, page: page }"></ng-template>
    </ng-container>
    <portofino-page-settings-panel *ngIf="page.settingsPanel.active"
      [page]="page" [extraConfiguration]="extraConfiguration"></portofino-page-settings-panel>
  </div>
</div>
