<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      {{'Configuration'|translate}}
    </ng-template>
    <mat-card class="settings-panel">
      <mat-card-content>
        <mat-error *ngIf="page.settingsPanel.error as error">
          {{error.message ? error.message : error}}
        </mat-error>
        <portofino-form [form]="page.settingsPanel.formDefinition" [controls]="page.settingsPanel.form"
                        fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="default center"></portofino-form>
        <ng-container *ngIf="extraConfiguration">
          <ng-template [ngTemplateOutlet]="extraConfiguration"></ng-template>
        </ng-container>
        <div></div>
        <div fxLayout="row">
          <portofino-buttons [component]="page" list="configuration"></portofino-buttons>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab *ngIf="page.settingsPanel.permissions">
    <ng-template mat-tab-label>
      {{'Permissions'|translate}}
    </ng-template>
    <table class="mat-table">
      <tr class="mat-header-row">
        <th class="mat-header-cell">{{'Group'|translate}}</th>
        <th class="mat-header-cell">{{'Access level'|translate}}</th>
        <th [colSpan]="page.settingsPanel.permissions.permissions.length" class="mat-header-cell">
          {{'Permissions'|translate}}
        </th>
      </tr>
      <tr *ngFor="let group of page.settingsPanel.groups" class="mat-row">
        <td class="mat-cell">{{group.name}}</td>
        <td class="mat-cell">
          <mat-select [(ngModel)]="group.level">
            <mat-option value="inherited">
              {{'Inherited (_)' | translate:{ level: group.actualAccessLevel || 'NONE' } }}
            </mat-option>
            <mat-option *ngFor="let level of page.settingsPanel.accessLevels" [value]="level">
              {{level}}
            </mat-option>
          </mat-select>
        </td>
        <td *ngFor="let perm of page.settingsPanel.permissions.permissions" class="mat-cell">
          <mat-checkbox *ngIf="group.permissionMap" [(ngModel)]="group.permissionMap[perm]">{{'permission: ' + perm | translate}}</mat-checkbox>
        </td>
      </tr>
    </table>
    <portofino-buttons [component]="page" list="permissions"></portofino-buttons>
  </mat-tab>
  <mat-tab *ngIf="page.settingsPanel.children">
    <ng-template mat-tab-label>
      {{'Children'|translate}}
    </ng-template>
    <mat-error *ngIf="!page.portofino.localApiAvailable">{{'Local API not available.' | translate}}</mat-error>
    <mat-table hidden [dataSource]="emptyDataSource">
      <!-- To load the mat-table CSS -->
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row"></td>
      <tr mat-header-row *matHeaderRowDef="[]"></tr>
      <tr mat-row *matRowDef="let row; columns: []"></tr>
    </mat-table>
    <table class="mat-table">
      <tr class="mat-header-row">
        <th class="mat-header-cell">{{'Segment'|translate}}</th>
        <th class="mat-header-cell">{{'Title'|translate}}</th>
        <th class="mat-header-cell">{{'Icon'|translate}}</th>
        <th class="mat-header-cell">{{'Embedded in'|translate}}</th>
        <th class="mat-header-cell">{{'Show in navigation'|translate}}</th>
      </tr>
      <tr *ngFor="let child of page.children" class="mat-row">
        <td class="mat-cell">{{child.path}}</td>
        <td class="mat-cell">{{child.title}}</td>
        <td class="mat-cell">
          <mat-form-field>
            <input matInput [(ngModel)]="child.icon" />
            <mat-icon matSuffix *ngIf="child.icon">{{child.icon}}</mat-icon>
          </mat-form-field>
        </td>
        <td class="mat-cell">
          <mat-select [(ngModel)]="child.embeddedIn">
            <mat-option [value]="null">{{'Not embedded'|translate}}</mat-option>
            <mat-option *ngFor="let section of template.sections" [value]="section">{{section|translate}}</mat-option>
          </mat-select>
        </td>
        <td class="mat-cell"><mat-checkbox [(ngModel)]="child.showInNavigation"></mat-checkbox></td>
      </tr>
    </table>
    <portofino-buttons [component]="page" list="children"></portofino-buttons>
  </mat-tab>
  <mat-tab *ngIf="page.settingsPanel.buttons">
    <ng-template mat-tab-label>
      {{'Buttons'|translate}}
    </ng-template>
    <mat-error *ngIf="!page.portofino.localApiAvailable">{{'Local API not available.' | translate}}</mat-error>
    <table>
      <ng-container *ngFor="let list of page.getAvailableButtonLists()">
        <tr>
          <th [rowSpan]="page.getButtons(list).length">{{list}}</th>
          <td>
            <span *ngIf="page.getButtons(list).length > 0">{{page.getButtons(list)[0].text}}</span>
          </td>
        </tr>
        <tr *ngFor="let button of page.getButtons(list).slice(1)">
          <td>{{button.text}}</td>
        </tr>
      </ng-container>
    </table>
    <portofino-buttons [component]="page" list="buttonsConfiguration"></portofino-buttons>
  </mat-tab>
</mat-tab-group>
