<portofino-templates></portofino-templates>
<div *ngIf="sidenav.position === 'page'" fxFlexFill fxLayout="column" fxLayoutAlign="space-between" class="mat-app-background">
  <div fxFlex="none">
    <ng-template portofino-toolbar></ng-template>
  </div>
  <mat-drawer-container [autosize]="true" fxFlex>
    <mat-drawer class="app-sidenav mat-elevation-z8" [opened]="sidenav.open" [mode]="sidenav.mode" [disableClose]="false"
                role="navigation">
      <ng-template portofino-navigation></ng-template>
    </mat-drawer>
    <mat-drawer-content class="app-content-content">
      <breadcrumbs></breadcrumbs>
      <div class="app-page-container">
        <router-outlet *ngIf="portofino.apiRoot"></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <div fxFlex="none">
    <ng-template portofino-footer></ng-template>
  </div>
</div>
<ng-container *ngIf="sidenav.position === 'body'">
  <mat-sidenav-container [autosize]="true">
    <mat-sidenav class="app-sidenav mat-elevation-z8" [opened]="sidenav.open" [mode]="sidenav.mode" [disableClose]="false"
                 role="navigation">
      <ng-template portofino-navigation></ng-template>
    </mat-sidenav>
    <mat-sidenav-content class="app-content-content">
      <ng-template portofino-toolbar></ng-template>
      <breadcrumbs></breadcrumbs>
      <div class="app-page-container">
        <router-outlet *ngIf="portofino.apiRoot"></router-outlet>
      </div>
      <ng-template portofino-footer></ng-template>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
