@use '@angular/material' as mat;
@include mat.core();

@mixin portofino-theme($theme) {
  $primary: map-get($theme, primary);

  .portofino-navigation {
    .mat-list-item.active {
      background-color: mat.get-color-from-palette($primary, 50);
    }
    .mat-list-item:hover {
      background-color: mat.get-color-from-palette($primary, 100) !important;
    }
  }
}
