# Since Portofino is included as a local library file, which is built every time the root project is built,
# the checksum in the committed package-lock.json won't match with the one built during CI. Therefore, for this project
# only, we don't commit package-lock.json.
package-lock.json

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
/node
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
