<h2>{{configuration.title}}</h2>
<portofino-crud-search
  *ngIf="searchVisible"
  [classAccessor]="classAccessor" [configuration]="configuration">
  <ng-template #buttons>
    <button mat-raised-button color="accent" (click)="showCreate()" i18n>
      <mat-icon>add</mat-icon>
      Create new
    </button>
  </ng-template>
</portofino-crud-search>
<portofino-crud-edit
  *ngIf="editVisible"
  [id]="id" [classAccessor]="classAccessor" [configuration]="configuration"
  (close)="goToSearch()"></portofino-crud-edit>
<portofino-crud-create
  *ngIf="createVisible"
  [classAccessor]="classAccessor" [configuration]="configuration"
  (close)="goToSearch()"></portofino-crud-create>
