<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2005-2011 ManyDesigns srl
-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
        version="2.4">
    <display-name>ManyDesigns Portofino</display-name>
    <description>ManyDesigns Portofino</description>

    <listener>
        <description>Application context and session listener</description>
        <listener-class>
            com.manydesigns.portofino.servlets.PortofinoListener
        </listener-class>
    </listener>

    <filter>
        <filter-name>elements-filter</filter-name>
        <filter-class>
            com.manydesigns.elements.servlet.ElementsFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>elements-filter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>portofino-dispatcher</filter-name>
        <filter-class>
            com.manydesigns.portofino.dispatcher.DispatcherFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>portofino-dispatcher</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>persistence-filter</filter-name>
        <filter-class>
            com.manydesigns.portofino.servlets.PersistenceFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>persistence-filter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
		<display-name>Stripes Filter</display-name>
		<filter-name>StripesFilter</filter-name>
		<filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
		<init-param>
			<param-name>ActionResolver.Packages</param-name>
			<param-value>com.manydesigns.portofino.actions</param-value>
		</init-param>
        <init-param>
            <param-name>Interceptor.Classes</param-name>
            <param-value>
                com.manydesigns.portofino.interceptors.SecurityInterceptor,
                com.manydesigns.portofino.interceptors.ApplicationInterceptor,
                com.manydesigns.portofino.interceptors.InjectionInterceptor
            </param-value>
        </init-param>
        <init-param>
            <param-name>LocalePicker.Locales</param-name>
            <param-value>it_IT</param-value>
        </init-param>
 	</filter>

    <filter-mapping>
		<filter-name>StripesFilter</filter-name>
		<servlet-name>StripesDispatcher</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>FORWARD</dispatcher>
	</filter-mapping>


	<servlet>
		<servlet-name>StripesDispatcher</servlet-name>
		<servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>StripesDispatcher</servlet-name>
		<url-pattern>/actions/*</url-pattern>
	</servlet-mapping>
    
<!--
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>
            org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
-->
<!--
    <servlet>
        <servlet-name>LoginErrorPage</servlet-name>
        <servlet-class>com.manydesigns.portofino.methods.users.LoginErrorPage
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginErrorPage</servlet-name>
        <url-pattern>/LoginErrorPage</url-pattern>
    </servlet-mapping>
-->
    <context-param>
      <param-name>
        javax.servlet.jsp.jstl.fmt.localizationContext
      </param-name>
      <param-value>StripesResources</param-value>
    </context-param>


    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--
    <jsp-config>
        <taglib>
            <taglib-uri>/manydesigns-elements-struts2</taglib-uri>
            <taglib-location>/WEB-INF/manydesigns-elements-struts2.tld</taglib-location>
        </taglib>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>ISO-8859-1</page-encoding>
        </jsp-property-group>
    </jsp-config>
    -->
    <!-- Uncomment and configure this section to enable container-managed security
        <security-constraint>
            <web-resource-collection>
                <web-resource-name>Servlets</web-resource-name>
                <description>Servlets under container-managed security</description>
                <url-pattern>*.action</url-pattern>
                <http-method>GET</http-method>
                <http-method>POST</http-method>
                <http-method>HEAD</http-method>
                <http-method>PUT</http-method>
                <http-method>OPTIONS</http-method>
                <http-method>TRACE</http-method>
                <http-method>DELETE</http-method>
            </web-resource-collection>
            <auth-constraint>
                <description>
                    Role (i.e. user group) containing all the users who can access the application.
                    Make sure this role is listend in the security-role section below.
                </description>
                <role-name>Users</role-name>
            </auth-constraint>
        </security-constraint>
        <login-config>
            <auth-method>FORM</auth-method>
            <form-login-config>
                <form-login-page>/Login</form-login-page>
                <form-error-page>/LoginErrorPage</form-error-page>
            </form-login-config>
        </login-config>
        <security-role>
            <description>
                Role (i.e. user group) containing all the users who can access the application
            </description>
            <role-name>Users</role-name>
        </security-role>
    -->

<!--  <security-constraint>
     <web-resource-collection>
        <web-resource-name>Protected Context</web-resource-name>
          <url-pattern>/usr/*</url-pattern>
          <url-pattern>/Login</url-pattern>
      </web-resource-collection>

      <user-data-constraint>
         <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
    </security-constraint>
-->
</web-app>
