<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2005-2015 ManyDesigns srl
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">
    <display-name>ManyDesigns Portofino</display-name>
    <description>ManyDesigns Portofino</description>

    <!-- Certain servlet 3.0 containers (e.g. Tomcat 7 before 7.0.33, Undertow) have bugs in their handling of relative
         module ordering. To work around those, short of updating the container, you can configure here
         the fragments to load. The following is the proper order of stock Portofino web fragments.
         Note that the "stripes" fragment must come after every fragment that defines a servlet filter.
    -->
    <!--
    <absolute-ordering>
        <name>elements</name>
        <name>base</name>
        <name>pageactions</name>
        <name>database</name>
        <name>stripes</name>
        <name>jersey</name>
        - or, if using resteasy -
        <name>resteasy</name>
    </absolute-ordering>
    -->

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <!--
        Here you can change where the Portofino app lives. If you comment this out, the default value
        ${serverInfo:realPath}/WEB-INF is used.
    -->
    <context-param>
        <param-name>portofino.application.directory</param-name>
        <param-value>${portofino.application.directory}</param-value>
        <!--
        The param-value above is meant to be interpolated by Maven. If you activate the portofino-development profile
        (-Pportofino-development from the command line), it will point to the src/main/webapp/WEB-INF directory so
        that you'll be able to work on it from an IDE and from Portofino's web UI and immediately see the changes in
        both directions. Note that this hardcodes the path of your source tree in web.xml and thus it is only meant
        for development on your own machine. The generated war WILL NOT WORK on other machines.
         -->
    </context-param>
</web-app>
