<div class="mat-form-field mat-form-field-can-float mat-form-field-should-float">
  <div class="mat-form-field-wrapper">
    <div class="mat-form-field-flex">
      <span *ngIf="control.value && control.value[0] as value; else noValue">
        <a *ngIf="!enabled && value.code && value.name && objectUrl; else noUrl" [href]="blobUrl">
          {{value.name}}
        </a>
        <ng-template #noUrl>
          {{value.name || ("Blob not found" | translate)}}
        </ng-template>
        <button mat-icon-button (click)="deleteBlob()" *ngIf="enabled" [title]="'Delete' | translate">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
      <ng-template #noValue>
        <span>{{ "No file selected" | translate }}</span>
      </ng-template>
      <ng-container *ngIf="enabled">
        <input #input type="file" [formControl]="control" [required]="required && !control.value">
      </ng-container>
      <span class="mat-form-field-label-wrapper">
        <label class="mat-form-field-label">{{property.label | translate}}</label>
      </span>
    </div>
    <div class="mat-form-field-underline"><span class="mat-form-field-ripple"></span></div>
    <div class="mat-form-field-subscript-wrapper" *ngIf="control.hasError('required')">
      <mat-error class="alert alert-danger">
        {{ '_ is required.' | translate:{ label: property.label | translate } }}
      </mat-error>
    </div>
    <div class="mat-form-field-subscript-wrapper alert alert-danger" *ngIf="control.hasError('server-side')">
      <ng-container *ngFor="let error of control.getError('server-side')">
        {{error}}<br />
      </ng-container>
    </div>
  </div>
</div>
