<mat-form-field [formGroup]="form">
  <mat-label>{{property.label | translate}}</mat-label>
  <input matInput [formControlName]="property.name" [required]="required">
  <mat-error *ngIf="control.hasError('required')" class="alert alert-danger">
    {{ '_ is required.' | translate:{ label: property.label | translate } }}
  </mat-error>
  <mat-error *ngIf="control.hasError('max')" class="alert alert-danger">
    {{ '_: max value _.' | translate:{ label: property.label | translate, max: control.getError('max').max } }}
  </mat-error>
  <mat-error *ngIf="control.hasError('min')" class="alert alert-danger">
    {{ '_: min value _.' | translate:{ label: property.label | translate, min: control.getError('min').min } }}
  </mat-error>
  <mat-error *ngIf="control.hasError('server-side')" class="alert alert-danger">
    <ng-container *ngFor="let error of control.getError('server-side')">
      {{error}}<br />
    </ng-container>
  </mat-error>
  <mat-checkbox *ngIf="selectable && enabled" [formControl]="selector" matPrefix></mat-checkbox>
</mat-form-field>
