<ng-container *ngIf="enabled">
  <mat-form-field *ngIf="property.selectionProvider.displayMode == 'DROPDOWN'" [formGroup]="form">
    <mat-label>{{property.label | translate}}</mat-label>
    <mat-select [formControlName]="property.name" [required]="required"
                (selectionChange)="property.selectionProvider.updateDependentOptions()">
      <mat-option [value]="null" *ngIf="property.selectionProvider.options.length > 0"></mat-option>
      <mat-option *ngFor="let option of property.selectionProvider.options; trackBy: trackByOptionValue"
                  [value]="option">
        {{ option.l }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="control.hasError('required')" class="alert alert-danger">
      {{ '_ is required.' | translate:{ label: property.label | translate } }}
    </mat-error>
    <mat-error *ngIf="control.hasError('server-side')" class="alert alert-danger">
      <ng-container *ngFor="let error of control.getError('server-side')">
        {{error}}<br />
      </ng-container>
    </mat-error>
    <mat-checkbox *ngIf="selectable && enabled" [formControl]="selector" matPrefix
                  (click)="$event.stopPropagation()"></mat-checkbox>
  </mat-form-field>
  <mat-form-field *ngIf="property.selectionProvider.displayMode == 'AUTOCOMPLETE'" [formGroup]="form">
    <mat-label>{{property.label | translate}}</mat-label>
    <input matInput [formControlName]="property.name" [matAutocomplete]="autocomplete"
           [required]="required" [title]="property.label | translate">
    <mat-autocomplete #autocomplete="matAutocomplete" [displayWith]="getOptionLabel" panelWidth="auto">
      <mat-option *ngFor="let option of property.selectionProvider.options; trackBy: trackByOptionValue"
                  [value]="option">
        {{ option.l }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="control.hasError('required')" class="alert alert-danger">
      {{ '_ is required.' | translate:{ label: property.label | translate } }}
    </mat-error>
    <mat-error *ngIf="control.hasError('server-side')" class="alert alert-danger">
      <ng-container *ngFor="let error of control.getError('server-side')">
        {{error}}<br />
      </ng-container>
    </mat-error>
    <mat-checkbox *ngIf="selectable && enabled" [formControl]="selector" matPrefix></mat-checkbox>
  </mat-form-field>
  <div *ngIf="property.selectionProvider.displayMode == 'RADIO'" [formGroup]="form">
    <label>{{property.label | translate}}</label>
    <mat-checkbox *ngIf="selectable && enabled" [formControl]="selector"></mat-checkbox>
    <mat-radio-group [formControlName]="property.name" [name]="property.name"
                     (change)="property.selectionProvider.updateDependentOptions()"
                     [required]="required">
      <mat-radio-button *ngFor="let option of property.selectionProvider.options; trackBy: trackByOptionValue"
                        [value]="option">
        {{ option.l }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</ng-container>
<mat-form-field *ngIf="!enabled">
  <mat-label>{{property.label | translate}}</mat-label>
  <input matInput [name]="property.name" [value]="safeValue(form)" [required]="required" disabled />
</mat-form-field>
