<mat-form-field *ngIf="isRichText()" [formGroup]="form" class="rich-text">
  <mat-label>{{property.label | translate}}</mat-label>
  <portofino-rich-text [formControlName]="property.name" [required]="required" [enabled]="enabled"></portofino-rich-text>
</mat-form-field>
<mat-form-field *ngIf="!isRichText() && !isPasswordConfirmationRequired()" [formGroup]="form" [ngClass]="{ multiline: isMultiline() }">
  <mat-label>{{property.label | translate}}</mat-label>
  <input matInput *ngIf="!isMultiline()"
         [formControlName]="property.name" [required]="required" [type]="isPassword() ? 'password' : 'text'" />
  <textarea matInput [formControlName]="property.name" [required]="required" *ngIf="isMultiline()"></textarea>
  <mat-error *ngIf="control.hasError('required')" class="alert alert-danger">
    {{ '_ is required.' | translate:{ label: property.label | translate } }}
  </mat-error>
  <mat-error *ngIf="control.hasError('maxlength')" class="alert alert-danger">
    {{ '_: max _.' | translate:{ label: property.label | translate, max: control.getError('maxlength').message } }}
  </mat-error>
  <mat-error *ngIf="control.hasError('server-side')" class="alert alert-danger">
    <ng-container *ngFor="let error of control.getError('server-side')">
      {{error}}<br />
    </ng-container>
  </mat-error>
  <mat-checkbox *ngIf="selectable && enabled" [formControl]="selector" matPrefix></mat-checkbox>
</mat-form-field>
<ng-container *ngIf="isPasswordConfirmationRequired()" [formGroup]="form">
  <mat-form-field [formGroupName]="property.name">
    <mat-label>{{property.label | translate}}</mat-label>
    <input matInput formControlName="password" [required]="required" type="password" />
    <mat-error *ngIf="control.hasError('required')" class="alert alert-danger">
      {{ '_ is required.' | translate:{ label: property.label | translate } }}
    </mat-error>
    <mat-error *ngIf="control.hasError('maxlength')" class="alert alert-danger">
      {{ '_: max _.' | translate:{ label: property.label | translate, max: control.getError('maxlength').message } }}
    </mat-error>
    <mat-error *ngIf="control.hasError('server-side')" class="alert alert-danger">
      <ng-container *ngFor="let error of control.getError('server-side')">
        {{error}}<br />
      </ng-container>
    </mat-error>
  </mat-form-field>
  <mat-form-field [formGroupName]="property.name">
    <mat-label>{{'Confirm' | translate}} {{property.label | translate}}</mat-label> <!--TODO label as parameter-->
    <input matInput formControlName="confirmPassword" [required]="false" type="password"
           [errorStateMatcher]="crossFieldErrorMatcher" />
    <mat-error *ngIf="control.hasError('passwordsDontMatch')" class="cross-validation-error-message alert alert-danger">
      {{ "Passwords don't match." | translate }}
    </mat-error>
  </mat-form-field>
</ng-container>
