.yui-t4 #yui-main div#content, .yui-t2 #yui-main div#content {
    margin-left: 0;
    border: none;
    background-color: white;
    position: relative;
}

.navigation {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    padding-top: 1em;
    padding-left: 1em;
    background-color: #F8F8FF;
}

.portlets {
    padding: 0 1em 1em;
}

.portletWrapper {
    margin-bottom: 0;
    padding-bottom: 1em;
    width: 100%;
}

.tab {
    padding: .8em 1em .8em .8em;
    font-weight: bold;
    float: left;
}

.tab-row {
    padding: 0;
    margin-bottom: 0;
    margin-left: 0;
    background-color: #166BBF;
    overflow: hidden;
}

.tab-row.level0 {
    font-size: 1.2em;
    background-color: #65A7DB;
}

.tab-row a, .tab-row a:visited {
    color: white;
}

.tab-row.level0 a, .tab-row.level0 a:visited,
.tab.selected a, .tab.selected a:visited{
    color: white;
}

.tab.path, .tab.selected {
    background: #65A7DB url('../../images/tab-path.png') no-repeat center bottom;
}

.last .tab.selected {
    background: url('../../images/tab-selected.png') no-repeat center bottom;
}

#pageAdminForm {
    float: right;
    margin-top: 0.6em;
    margin-right: 0.5em;
}

div#hd {
    margin-bottom: 1em;
}

.contentBarButtons .ui-button-text-only span.ui-button-text {
    font-size: .8em;
}

.contentFooter {
    bottom: auto;
    left: 0;
    position: absolute;
    right: 0;
}