<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="breadcrumbs-bar">
  <ng-container *ngIf="!!pageService.page">
    <div fxLayout="row" fxLayoutAlign="left center" >
      <div class="breadcrumb-item"
          *ngFor="let item of breadcrumbList; let i = index"
          [class.active]="i===breadcrumbList.length-1">
        <a class="breadcrumb-link" [routerLink]="item.url" *ngIf="i!==breadcrumbList.length-1">
          {{item.title | translate}}
        </a>
        <span class="breadcrumb-divisor" *ngIf="i!=breadcrumbList.length-1">
           <mat-icon>navigate_next</mat-icon>
        </span>
        <span class="breadcrumb-link-disabled" *ngIf="i===breadcrumbList.length-1">{{item.title | translate}}</span>
      </div>
    </div>
    <portofino-buttons [component]="pageService.page" list="breadcrumbs"></portofino-buttons>
  </ng-container>
</mat-toolbar>
