<div style="padding: 20px;" *ngIf="!connectionProvider">
  <table *ngIf="connectionProviders" class="mat-table">
    <tr class="mat-header-row">
      <th class="mat-header-cell">{{'Name'|translate}}</th>
      <th class="mat-header-cell">{{'Description'|translate}}</th>
      <th class="mat-header-cell">{{'Status'|translate}}</th>
    </tr>
    <tr *ngFor="let conn of connectionProviders" class="mat-row">
      <td class="mat-cell"><a href="javascript:void(0)" (click)="openConnectionProvider(conn);">{{conn.name}}</a></td>
      <td class="mat-cell">{{conn.description}}</td>
      <td class="mat-cell">{{conn.status | translate}}</td>
    </tr>
  </table>
  <portofino-buttons [component]="this" list="connections"></portofino-buttons>
  <h3>{{'Available database platforms' | translate}}</h3>
  <table *ngIf="databasePlatforms" class="mat-table">
    <tr class="mat-header-row">
      <th class="mat-header-cell">{{'Description'|translate}}</th>
      <th class="mat-header-cell">{{'Standard driver class name'|translate}}</th>
      <th class="mat-header-cell">{{'Status'|translate}}</th>
    </tr>
    <tr *ngFor="let platform of databasePlatforms" class="mat-row">
      <td>{{platform.description}}</td>
      <td>{{platform.standardDriverClassName}}</td>
      <td>{{platform.status | translate}}</td>
    </tr>
  </table>
</div>
<div style="padding: 20px;" *ngIf="connectionProvider">
  <form>
    <mat-form-field>
      <mat-label>{{'Name'|translate}}</mat-label>
      <input name="name" matInput required [(ngModel)]="connectionProvider.databaseName.value"
             [disabled]="true" />
    </mat-form-field>
    <ng-container *ngIf="connectionProvider.jndiResource.value">
      <mat-form-field>
        <mat-label>{{'JNDI Resource'|translate}}</mat-label>
        <input name="jndiResource" matInput required [(ngModel)]="connectionProvider.jndiResource.value"
               [disabled]="!isEditConnectionProvider" />
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="!connectionProvider.jndiResource.value">
      <mat-form-field>
        <mat-label>{{'Driver'|translate}}</mat-label>
        <input name="driver" matInput [(ngModel)]="connectionProvider.driver.value"
               [disabled]="!isEditConnectionProvider" />
        <mat-hint>{{'leave empty to autodetect'|translate}}</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'Connection URL'|translate}}</mat-label>
        <input name="url" matInput required [(ngModel)]="connectionProvider.url.value"
               [disabled]="!isEditConnectionProvider" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'Username'|translate}}</mat-label>
        <input name="username" matInput [(ngModel)]="connectionProvider.username.value"
               [disabled]="!isEditConnectionProvider" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'Password'|translate}}</mat-label>
        <input name="password" type="password" matInput [(ngModel)]="connectionProvider.password.value"
               [disabled]="!isEditConnectionProvider" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'Hibernate dialect'|translate}}</mat-label>
        <input name="dialect" matInput [(ngModel)]="connectionProvider.hibernateDialect.value"
               [disabled]="!isEditConnectionProvider" />
        <mat-hint>{{'leave empty to use default'|translate}}</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'Entity mode'|translate}}</mat-label>
        <mat-select [(ngModel)]="connectionProvider.entityMode.value" name="entityMode"
                    [disabled]="!isEditConnectionProvider">
          <mat-option value="MAP">{{'Map'|translate}}</mat-option>
          <mat-option value="POJO">{{'POJO'|translate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'True string'|translate}}</mat-label>
        <input name="true-string" matInput [(ngModel)]="connectionProvider.trueString.value"
               [disabled]="!isEditConnectionProvider" />
        <mat-hint>{{'how boolean true is encoded'|translate}}</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'False string'|translate}}</mat-label>
        <input name="false-string" matInput [(ngModel)]="connectionProvider.falseString.value"
               [disabled]="!isEditConnectionProvider" />
        <mat-hint>{{'how boolean false is encoded'|translate}}</mat-hint>
      </mat-form-field>
    </ng-container>
    <mat-divider></mat-divider>
    <h3>{{'Schemas'|translate}}</h3>
    <table class="mat-table">
      <tr class="mat-header-row">
        <th class="mat-header-cell"></th>
        <th class="mat-header-cell">{{'Schema'|translate}}</th>
        <th class="mat-header-cell">{{'Schema name'|translate}}</th>
      </tr>
      <tr *ngFor="let schema of connectionProvider.schemas; let i = index;" class="mat-row">
        <td class="mat-cell"><mat-checkbox [(ngModel)]="schema.selected"
                                           name="selected{{i}}" [disabled]="!isEditConnectionProvider"></mat-checkbox></td>
        <td class="mat-cell">{{schema.schema}}</td>
        <td class="mat-cell"><input matInput [(ngModel)]="schema.name"
                                    name="schemaName{{i}}" [disabled]="!isEditConnectionProvider"/></td>
      </tr>
    </table>
    <div><portofino-buttons [component]="this" list="connection"></portofino-buttons></div>
  </form>
</div>
