<div style="padding: 20px;">
  <mat-form-field *ngIf="!tableInfo">
    <mat-label>{{'Table name'|translate}}</mat-label>
    <input matInput [(ngModel)]="tableTreeDataSource.filter" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <mat-tree [dataSource]="tableTreeDataSource" [treeControl]="tableTreeDataSource.treeControl" *ngIf="!tableInfo">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
      <a href="javascript:void(0)" (click)="editTable(node)">{{node.displayName}}</a>
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node; when: isExpandable" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{tableTreeDataSource.treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.displayName}}
      <mat-progress-bar *ngIf="node.loading" mode="indeterminate"></mat-progress-bar>
    </mat-tree-node>
  </mat-tree>
  <mat-card *ngIf="tableInfo && !column">
    <mat-card-title>{{tableInfo.table.tableName}}</mat-card-title>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            {{'Table and columns'|translate}}
          </ng-template>
          <mat-form-field>
            <mat-label>{{'Entity name'|translate}}</mat-label>
            <input matInput [(ngModel)]="tableInfo.table.entityName" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'Short name'|translate}}</mat-label>
            <input matInput [(ngModel)]="tableInfo.table.shortName" />
          </mat-form-field>
          <fieldset>
            <legend>{{'Columns'|translate}}</legend>
            <table cdkDropList class="mat-table" (cdkDropListDropped)="moveColumn($event)">
              <tr class="mat-header-row">
                <th class="mat-header-cell">{{'Name'|translate}}</th>
                <th class="mat-header-cell">{{'Property name'|translate}}</th>
                <th class="mat-header-cell">{{'Class'|translate}}</th>
                <th class="mat-header-cell">{{'Type'|translate}}</th>
                <th class="mat-header-cell">{{'Length'|translate}}</th>
                <th class="mat-header-cell">{{'Scale'|translate}}</th>
                <th class="mat-header-cell">{{'Nullable'|translate}}</th>
              </tr>
              <tr *ngFor="let column of tableInfo.table.columns; let i = index;" class="mat-row" cdkDrag>
                <td class="mat-cell"><a href="javascript:void(0)" (click)="editColumn(column, i);">{{column.columnName}}</a></td>
                <td class="mat-cell"><input matInput [(ngModel)]="column.propertyName" /></td>
                <td class="mat-cell" style="min-width: 100px;">
                  <mat-select [(ngModel)]="column.javaType">
                    <mat-option value="default">Auto ({{tableInfo.types[i].default.simpleName}})</mat-option>
                    <mat-option *ngFor="let type of tableInfo.types[i].types" [value]="type.name">
                      {{type.simpleName}}
                    </mat-option>
                  </mat-select>
                </td>
                <td class="mat-cell">{{column.columnType}} (JDBC: {{column.jdbcType}})</td>
                <td class="mat-cell">{{column.length}}</td>
                <td class="mat-cell">{{column.scale}}</td>
                <td class="mat-cell">{{column.nullable}}</td>
              </tr>
            </table>
          </fieldset>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            {{'Foreign keys and selection providers'|translate}}
          </ng-template>
          <fieldset>
            <legend>{{'Foreign keys'|translate}}</legend>
            <table class="mat-table">
              <tr class="mat-header-row">
                <th class="mat-header-cell">{{'Name'|translate}}</th>
                <th class="mat-header-cell">{{'Property name (one side)'|translate}}</th>
                <th class="mat-header-cell">{{'Property name (many side)'|translate}}</th>
                <th class="mat-header-cell">{{'Columns'|translate}}</th>
                <th class="mat-header-cell">{{'Referenced table'|translate}}</th>
                <th class="mat-header-cell">{{'Referenced columns'|translate}}</th>
              </tr>
              <tr *ngFor="let fk of tableInfo.table.foreignKey" class="mat-row">
                <td class="mat-cell">{{fk.name}}</td>
                <td class="mat-cell"><input matInput [(ngModel)]="fk.onePropertyName"></td>
                <td class="mat-cell"><input matInput [(ngModel)]="fk.manyPropertyName"></td>
                <td class="mat-cell">{{getFromColumns(fk)}}</td>
                <td class="mat-cell">{{getReferencedTableName(fk, tableInfo)}}</td>
                <td class="mat-cell">{{getToColumns(fk)}}</td>
              </tr>
            </table>
          </fieldset>
          <fieldset>
            <legend>{{'Selection providers'|translate}}</legend>
            <table class="mat-table">
              <tr class="mat-header-row">
                <th class="mat-header-cell">{{'Name'|translate}}</th>
                <th class="mat-header-cell">{{'Columns'|translate}}</th>
                <th class="mat-header-cell">{{'Database'|translate}}</th>
                <th class="mat-header-cell">{{'Query'|translate}}</th>
                <th class="mat-header-cell"></th>
              </tr>
              <tr *ngFor="let q of tableInfo.table.query" class="mat-row">
                <ng-container *ngIf="!q.beingEdited">
                  <td class="mat-cell">{{q.name}}</td>
                  <td class="mat-cell">{{getFromColumns(q)}}</td>
                  <td class="mat-cell">{{q.toDatabase}}</td>
                  <td *ngIf="q.hql" class="mat-cell"><strong>HQL</strong> {{q.hql}}</td>
                  <td *ngIf="q.sql" class="mat-cell"><strong>SQL</strong> {{q.sql}}</td>
                  <td class="mat-cell">
                    <button mat-icon-button color="primary" (click)="editSelectionProvider(q)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button (click)="deleteSelectionProvider(q)"><mat-icon>delete</mat-icon></button>
                  </td>
                </ng-container>
                <ng-container *ngIf="q.beingEdited">
                  <td class="mat-cell">
                    <mat-form-field>
                      <mat-label>{{'Name'|translate}}</mat-label>
                      <input matInput [(ngModel)]="q.name" required />
                    </mat-form-field>
                  </td>
                  <td class="mat-cell">
                    <mat-form-field>
                      <mat-label>{{'Columns'|translate}}</mat-label>
                      <input matInput [(ngModel)]="q.columns" required />
                    </mat-form-field>
                  </td>
                  <td class="mat-cell">
                    <mat-form-field>
                      <mat-label>{{'Database' | translate}}</mat-label>
                      <mat-select [(ngModel)]="q.toDatabase" required>
                        <mat-option *ngFor="let cp of connectionProviders" [value]="cp.name">{{cp.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td *ngIf="!q.new && q.isHql" class="mat-cell">
                    <mat-form-field>
                      <mat-label>HQL</mat-label>
                      <input matInput [(ngModel)]="q.hql" />
                    </mat-form-field>
                  </td>
                  <td *ngIf="!q.new && !q.isHql" class="mat-cell">
                    <mat-form-field>
                      <mat-label>SQL</mat-label>
                      <input matInput [(ngModel)]="q.sql" />
                    </mat-form-field>
                  </td>
                  <td *ngIf="q.new" class="mat-cell">
                    <mat-form-field>
                      <mat-label>HQL</mat-label>
                      <textarea matInput [(ngModel)]="q.hql"></textarea>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>SQL</mat-label>
                      <textarea matInput [(ngModel)]="q.sql"></textarea>
                    </mat-form-field>
                  </td>
                  <td class="mat-cell">
                    <button mat-icon-button color="primary" (click)="saveSelectionProvider(q)"><mat-icon>save</mat-icon></button>
                    <button mat-icon-button (click)="cancelSelectionProvider(q)"><mat-icon>cancel</mat-icon></button>
                  </td>
                </ng-container>
              </tr>
            </table>
            <button mat-icon-button (click)="addSelectionProvider()">
              <mat-icon>add</mat-icon>
            </button>
          </fieldset>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            {{'Permissions'|translate}}
          </ng-template>
          <table class="mat-table">
            <tr class="mat-header-row">
              <th class="mat-header-cell">{{'Group'|translate}}</th>
              <th colSpan="4" class="mat-header-cell">
                {{'Permissions'|translate}}
              </th>
            </tr>
            <tr *ngFor="let group of groups" class="mat-row">
              <td class="mat-cell">{{group.name}}</td>
              <td *ngFor="let perm of ['crud-create', 'crud-read', 'crud-edit', 'crud-delete']" class="mat-cell">
                <mat-checkbox [(ngModel)]="group.permissionMap[perm]">{{'permission: ' + perm | translate}}</mat-checkbox>
              </td>
            </tr>
          </table>
        </mat-tab>
      </mat-tab-group>
      <div><portofino-buttons [component]="this" list="table"></portofino-buttons></div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="column">
    <mat-card-title>{{column.columnName}}</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>{{'Column name'|translate}}</mat-label>
        <input matInput [(ngModel)]="column.columnName" disabled />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'Property name'|translate}}</mat-label>
        <input matInput [(ngModel)]="column.propertyName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'Java Type'|translate}}</mat-label>
        <mat-select [(ngModel)]="column.javaType" (valueChange)="changeType(column, $event)">
          <mat-option value="default">Auto ({{tableInfo.types[column.index].default.simpleName}})</mat-option>
          <mat-option *ngFor="let type of tableInfo.types[column.index].types" [value]="type.name">
            {{type.simpleName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'Type'|translate}}</mat-label>
        <input matInput [(ngModel)]="column.columnType" disabled />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'JDBC Type'|translate}}</mat-label>
        <input matInput [(ngModel)]="column.jdbcType" disabled />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'Length'|translate}}</mat-label>
        <input matInput [(ngModel)]="column.length" disabled />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'Scale'|translate}}</mat-label>
        <input matInput [(ngModel)]="column.scale" disabled />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'Nullable'|translate}}</mat-label>
        <input matInput [(ngModel)]="column.nullable" disabled />
      </mat-form-field>
      <fieldset>
        <legend>{{'Annotations'|translate}}</legend>
        <portofino-form [form]="annotationsForm" [controls]="annotations"></portofino-form>
      </fieldset>
      <div><portofino-buttons [component]="this" list="column"></portofino-buttons></div>
    </mat-card-content>
  </mat-card>
  <ng-container *ngIf="!column && !tableInfo">
    <hr />
    <mat-card>
      <portofino-buttons [component]="this" list="misc"></portofino-buttons> {{"if you've modified it externally, on the file system" | translate}}
    </mat-card>
  </ng-container>
</div>
