@import url('../site-no-sidebar/site.css');

div#sidebar #navigation {
    border: 1px dashed #808080;
    min-height: 125px;
    margin-bottom: 1em;
}

div#sidebar #navigation > ul {
    margin: .5em;
}

div#sidebar #navigation hr {
    border: none;
    border-top: 1px dashed black;
    color: #F8F8FF;
    margin-left: 1em;
    margin-right: 1em;
}