<portofino-page-layout [page]="this">
  <ng-template #content>
    <mat-error *ngIf="error">Error: {{error|json}}</mat-error>
    <portofino-crud-search-holder *ngIf="isSearchView()"
                                  [component]="searchComponent" [context]="searchComponentContext"
                                  [classAccessor]="classAccessor" [pageSize]="rowsPerPage" [sourceUrl]="sourceUrl" [baseUrl]="url"
                                  [selectionProviders]="selectionProviders" [selectionEnabled]="bulkDeleteEnabled || bulkEditEnabled"
                                  [selection]="selection" [refresh]="refreshSearch" (openDetail)="openDetail($event)"
                                  [openDetailInSamePage]="isOpenDetailInSamePage()"
                                  [parentButtons]="getButtons('search-results')" [parent]="page">
    </portofino-crud-search-holder>
    <portofino-crud-detail-holder *ngIf="isDetailView()"
                                  [component]="detailComponent" [context]="detailComponentContext"
                                  [id]="id" [classAccessor]="classAccessor" [configuration]="configuration" [selectionProviders]="selectionProviders"
                                  [sourceUrl]="sourceUrl" (close)="goBack()" (editModeChanges)="onEditModeChange($event)"
                                  [parentButtons]="getButtons('detail')" [editOrView]="editMode" [parent]="page">
    </portofino-crud-detail-holder>
    <portofino-crud-create-holder *ngIf="isCreateView()"
                                  [component]="createComponent" [context]="createComponentContext"
                                  [classAccessor]="classAccessor" [configuration]="configuration" [selectionProviders]="selectionProviders"
                                  [sourceUrl]="sourceUrl" (close)="goBack()"
                                  [parentButtons]="getButtons('create')" [parent]="page">
    </portofino-crud-create-holder>
    <portofino-crud-bulk-edit-holder *ngIf="isBulkEditView()"
                                     [component]="bulkEditComponent" [context]="bulkEditComponentContext"
                                     [classAccessor]="classAccessor" [configuration]="configuration" [selectionProviders]="selectionProviders"
                                     [ids]="getSelectedIds()" [sourceUrl]="sourceUrl" (close)="goToSearch()"
                                     [parentButtons]="getButtons('bulk-edit')" [parent]="page">
    </portofino-crud-bulk-edit-holder>
  </ng-template>
  <ng-template #extraConfiguration>
    <fieldset>
      <legend>{{'Properties' | translate}}</legend>
      <table class="mat-table">
        <tr class="mat-header-row">
          <th class="mat-header-cell">
            <div class="mat-sort-header-container">
              <button class="mat-sort-header-button">{{'Enabled' | translate}}</button>
            </div>
          </th>
          <th class="mat-header-cell">
            <div class="mat-sort-header-container">
              <button class="mat-sort-header-button">{{'Name' | translate}}</button>
            </div>
          </th>
          <th class="mat-header-cell">
            <div class="mat-sort-header-container">
              <button class="mat-sort-header-button">{{'Label' | translate}}</button>
            </div>
          </th>
          <th class="mat-header-cell">
            <div class="mat-sort-header-container">
              <button class="mat-sort-header-button">{{'Insertable' | translate}}</button>
            </div>
          </th>
          <th class="mat-header-cell">
            <div class="mat-sort-header-container">
              <button class="mat-sort-header-button">{{'Updatable' | translate}}</button>
            </div>
          </th>
          <th class="mat-header-cell">
            <div class="mat-sort-header-container">
              <button class="mat-sort-header-button">{{'In Summary' | translate}}</button>
            </div>
          </th>
          <th class="mat-header-cell">
            <div class="mat-sort-header-container">
              <button class="mat-sort-header-button">{{'Searchable' | translate}}</button>
            </div>
          </th>
        </tr>
        <tr *ngFor="let p of settingsPanel['properties']" class="mat-row">
          <td class="mat-cell"><mat-checkbox [(ngModel)]="p.enabled"></mat-checkbox></td>
          <td class="mat-cell">{{p.name}}</td>
          <td class="mat-cell"><mat-form-field><input matInput [(ngModel)]="p.label"></mat-form-field></td>
          <td class="mat-cell"><mat-checkbox [(ngModel)]="p.insertable"></mat-checkbox></td>
          <td class="mat-cell"><mat-checkbox [(ngModel)]="p.updatable"></mat-checkbox></td>
          <td class="mat-cell"><mat-checkbox [(ngModel)]="p.inSummary"></mat-checkbox></td>
          <td class="mat-cell"><mat-checkbox [(ngModel)]="p.searchable"></mat-checkbox></td>
        </tr>
      </table>
    </fieldset>
    <fieldset>
      <legend>{{'Selection providers' | translate}}</legend>
      <table class="mat-table">
        <tr class="mat-header-row">
          <th class="mat-header-cell">
            <div class="mat-sort-header-container">
              <button class="mat-sort-header-button">{{'Properties' | translate}}</button>
            </div>
          </th>
          <th class="mat-header-cell">
            <div class="mat-sort-header-container">
              <button class="mat-sort-header-button">{{'Selection Provider' | translate}}</button>
            </div>
          </th>
          <th class="mat-header-cell">
            <div class="mat-sort-header-container">
              <button class="mat-sort-header-button">{{'Display Mode' | translate}}</button>
            </div>
          </th>
          <th class="mat-header-cell">
            <div class="mat-sort-header-container">
              <button class="mat-sort-header-button">{{'Search Display Mode' | translate}}</button>
            </div>
          </th>
        </tr>
        <tr *ngFor="let sp of settingsPanel['selectionProviders']" class="mat-row">
          <td class="mat-cell">
            {{sp.fieldNames.join(", ")}}
          </td>
          <td class="mat-cell">
            <mat-select [(ngModel)]="sp.selectionProviderName">
              <mat-option [value]="null">{{"None" | translate}}</mat-option>
              <mat-option *ngFor="let option of sp.availableSelectionProviders" [value]="option">{{option}}</mat-option>
            </mat-select>
          </td>
          <td class="mat-cell">
            <mat-select [(ngModel)]="sp.displayModeName">
              <mat-option value="DROPDOWN">{{"Drop down" | translate}}</mat-option>
              <mat-option value="RADIO">{{"Radio buttons" | translate}}</mat-option>
              <mat-option value="AUTOCOMPLETE">{{"Autocomplete" | translate}}</mat-option>
            </mat-select>
          </td>
          <td class="mat-cell">
            <mat-select [(ngModel)]="sp.searchDisplayModeName">
              <mat-option value="DROPDOWN">{{"Drop down" | translate}}</mat-option>
              <mat-option value="RADIO">{{"Radio buttons" | translate}}</mat-option>
              <mat-option value="AUTOCOMPLETE">{{"Autocomplete" | translate}}</mat-option>
              <mat-option value="MULTIPLESELECT">{{"Multiple select" | translate}}</mat-option>
              <mat-option value="CHECKBOX">{{"Check boxes" | translate}}</mat-option>
            </mat-select>
          </td>
        </tr>
      </table>
    </fieldset>
  </ng-template>
</portofino-page-layout>
