.ticket-read .controls {
    font-weight: bold;
}
.ticket-read .controls .value {
    padding-top: 0;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.activity-item-message dl {
    margin: 0
}

ul.ticket-list {
    margin: 0 0 10px;
}

li.ticket-list-item {
    display: block;
    margin: 0 0 10px;
}

.activity-item-message ins {
    background:#e6ffe6;
}

.activity-item-message ins {
    background:#ffe6e6;
}

h3.pageTitle span.label {
    font-size: 50%;
}