@import '~@angular/material/theming';
@include mat-core();
$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink);
$app-warn:    mat-palette($mat-red);

// Custom Sass colors vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

$theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@import '~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme';

// Using the $theme variable from the pre-built theme you can call the theming function
@include mat-datetimepicker-theme($theme);

//TODO find a way to import this
@mixin portofino-theme($theme) {
  $primary: map-get($theme, primary);

  .portofino-navigation {
    .mat-list-item.active {
      background-color: mat-color($primary, 50);
    }
    &:hover,
    &:focus {
      .mat-list-item:not(.expanded) {
        background-color: mat-color($primary, 100) !important;
      }
    }
  }
}

.container {
  min-height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #f7f7f7;
}

.footer-text{
  color: #7f7f7f;
  letter-spacing: 0.025em;
  text-align: center;
}

mat-sidenav-container {
  height: 100%;
  min-height: 100%;
}

button {
  margin-right: 7px !important;
}

.mat-card {
  margin-bottom: 15px;
}

table th{
  background-color: #eceff1 !important;
}

.mat-sort-header-container {
  font-size: large;
}

.mat-drawer-container {
  background-color: transparent !important;
}

.mat-sort-header-button {
  text-transform: capitalize;
}

.full-width{
  width: 100%;
}

.mat-form-field-prefix {
  margin-right: 7px;
}
