<mat-card>
  <mat-card-content fxLayout="column" fxLayoutGap="20px">
    <mat-expansion-panel *ngIf="searchProperties.length">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>filter_list</mat-icon>
          <span class="portofino-search-title">{{ 'Search' | translate }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form (submit)="search()" [formGroup]="form">
        <button type="submit" hidden>Hidden search button</button>
        <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="default center">
          <portofino-crud-search-field *ngFor="let field of searchProperties" [form]="form" [property]="field">
          </portofino-crud-search-field>
        </div>
        <div fxLayout="row">
          <button mat-flat-button color="primary" (click)="search()">
            <mat-icon>search</mat-icon>
            {{ 'Search' | translate }}
          </button>
          <button mat-stroked-button (click)="clearSearch()" type="reset">{{ 'Clear' | translate }}</button>
        </div>
      </form>
    </mat-expansion-panel>

    <div class="search-results" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start stretch">
      <table mat-table [dataSource]="resultsDataSource" *ngIf="isDataTable()"
             matSort (matSortChange)="sort($event)"
             class="portofino-table">
        <ng-container [matColumnDef]="selectColumnName" *ngIf="selectionEnabled">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleSelectAll() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container *ngFor="let field of resultFields" [matColumnDef]="field.name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{field.label}}</th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="field.component; else simpleField">
              <ng-container
                *ngxComponentOutlet="field.component; context: { searchComponent: this, field: field, row: row }"></ng-container>
            </ng-container>
            <ng-template #simpleField>
              <a *ngIf="field.action; else noAction" mat-button (click)="field.action(row)">
                {{field.getValue(row) | async}}
              </a>
              <ng-template #noAction>
                <a *ngIf="field.getRouterLink(row) as routerLink; else noKey" mat-button [routerLink]="routerLink">
                  {{field.getValue(row) | async}}
                </a>
                <ng-template #noKey>
                  <a *ngIf="field.getHref(row) as href; else noHref" [href]="href">
                    {{field.getValue(row) | async}}
                  </a>
                  <ng-template #noHref>
                    {{field.getValue(row) | async}}
                  </ng-template>
                </ng-template>
              </ng-template>
            </ng-template>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="datatableColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: datatableColumns"></tr>
      </table>
      <cdk-virtual-scroll-viewport *ngIf="!isDataTable()" (scrolledIndexChange)="handleScrolledIndexChange($event)"
                                   itemSize="50" style="height: 200px;"> <!--TODO autosize? -->
        <div *cdkVirtualFor="let row of resultsDataSource" style="height: 50px; border-bottom: dashed grey 1px;">
          <!-- TODO External CSS -->
          <ng-container *ngFor="let field of resultFields">
            <ng-container *ngIf="field.component; else simpleFieldSmall">
              <ng-container
                *ngxComponentOutlet="field.component; context: { searchComponent: this, field: field, row: row }"></ng-container>
            </ng-container>
            <ng-template #simpleFieldSmall>
              <a *ngIf="field.action; else noAction" mat-button (click)="field.action(row)">
                {{field.getValue(row) | async}}
              </a>
              <ng-template #noAction>
                <a *ngIf="field.getRouterLink(row) as routerLink; else noKey" mat-button [routerLink]="routerLink">
                  {{field.getValue(row) | async}}
                </a>
                <ng-template #noKey>
                  <a *ngIf="field.getHref(row) as href; else noHref" [href]="href">
                    {{field.getValue(row) | async}}
                  </a>
                  <ng-template #noHref>
                    {{field.getValue(row) | async}}
                  </ng-template>
                </ng-template>
              </ng-template>
            </ng-template>
          </ng-container>
        </div>
      </cdk-virtual-scroll-viewport>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayout.xs="column">
          <portofino-button *ngFor="let button of parentButtons" [button]="button"
                            [component]="parent"></portofino-button>
          <portofino-buttons [component]="this"></portofino-buttons>
        </div>
        <div>
          <portofino-buttons [component]="this" list="pagination"></portofino-buttons>
          <mat-paginator *ngIf="isDataTable()" style="display: inline-block;"
                         [length]="results ? results.totalRecords : 0" [pageSize]="pageSize" (page)="loadPage($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
