<ng-container *ngIf="property.selectionProvider; else simple">
  <mat-form-field *ngIf="property.selectionProvider.displayMode === 'DROPDOWN'" [formGroup]="form">
    <mat-select [formControlName]="property.name" [placeholder]="property.label"
                (selectionChange)="property.selectionProvider.updateDependentOptions()">
      <mat-option [value]="null" *ngIf="property.selectionProvider.options.length > 0"></mat-option>
      <mat-option *ngFor="let option of property.selectionProvider.options" [value]="option">
        {{ option.l }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="property.selectionProvider.displayMode === 'AUTOCOMPLETE'" [formGroup]="form">
    <input matInput [formControlName]="property.name" [placeholder]="property.label" [matAutocomplete]="autocomplete">
    <mat-autocomplete #autocomplete="matAutocomplete" [displayWith]="getOptionLabel" panelWidth="auto">
      <mat-option *ngFor="let option of property.selectionProvider.options" [value]="option">
        {{ option.l }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div *ngIf="property.selectionProvider.displayMode === 'RADIO'" [formGroup]="form">
    <label>{{property.label}}</label>
    <mat-radio-group [formControlName]="property.name" [name]="property.name"
                     (change)="property.selectionProvider.updateDependentOptions()">
      <mat-radio-button *ngFor="let option of property.selectionProvider.options" [value]="option">
        {{ option.l }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-form-field *ngIf="property.selectionProvider.displayMode === 'MULTIPLESELECT'" [formGroup]="form">
    <mat-select [formControlName]="property.name" [placeholder]="property.label" [multiple]="true"
                (selectionChange)="property.selectionProvider.updateDependentOptions()">
      <mat-option *ngFor="let option of property.selectionProvider.options" [value]="option">
        {{ option.l }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container *ngIf="property.selectionProvider.displayMode === 'CHECKBOX'" [formGroup]="form">
    <ng-container [formArrayName]="property.name">
      <mat-checkbox *ngFor="let option of property.selectionProvider.options; let i = index" [formControlName]="i"
      style="margin-right: 1em;">
        {{option.l}}
      </mat-checkbox>
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #simple>
  <ng-container [formGroup]="form">
    <ng-container *ngIf="isString" [formGroupName]="property.name">
      <mat-form-field>
        <mat-label>{{property.label}}</mat-label>
        <mat-select formControlName="mode">
          <mat-option value="">{{ 'contains' | translate }}</mat-option>
          <mat-option value="equals">{{ 'is equal to' | translate }}</mat-option>
          <mat-option value="starts">{{ 'starts with' | translate }}</mat-option>
          <mat-option value="ends">{{ 'ends with' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field >
        <input matInput formControlName="value" placeholder="{{'text'|translate}}">
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="property.kind === 'number'">
      <mat-form-field *ngIf="!ranged" [formGroupName]="property.name">
        <input matInput formControlName="exact" [placeholder]="property.label">
        <button mat-icon-button matSuffix (click)="ranged = true" title="{{'Range'|translate}}">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field *ngIf="ranged" [formGroupName]="property.name">
        <mat-label>{{'Min'|translate}}</mat-label>
        <input matInput formControlName="min" [placeholder]="property.label">
      </mat-form-field>
      <mat-form-field *ngIf="ranged" [formGroupName]="property.name">
        <mat-label>{{'Max'|translate}}</mat-label>
        <input matInput formControlName="max" [placeholder]="property.label">
        <button mat-icon-button matSuffix (click)="ranged = false" title="{{'Exact'|translate}}">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="property.kind === 'date'">
      <mat-form-field *ngIf="!ranged" [formGroupName]="property.name">
        <input matInput formControlName="exact" [placeholder]="property.label" [matDatepicker]="datepicker_exact">
        <mat-datepicker #datepicker_exact></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="datepicker_exact"></mat-datepicker-toggle>
        <button mat-icon-button matSuffix (click)="ranged = true" title="{{'Range'|translate}}">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field *ngIf="ranged" [formGroupName]="property.name">
        <mat-label>{{property.label}} - {{'from'|translate}}</mat-label>
        <input matInput formControlName="min" [placeholder]="property.label" [matDatepicker]="datepicker_min">
        <mat-datepicker #datepicker_min></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="datepicker_min"></mat-datepicker-toggle>
      </mat-form-field>
      <mat-form-field *ngIf="ranged" [formGroupName]="property.name">
        <mat-label>{{'To'|translate}}</mat-label>
        <input matInput formControlName="max" [placeholder]="property.label" [matDatepicker]="datepicker_max">
        <mat-datepicker #datepicker_max></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="datepicker_max"></mat-datepicker-toggle>
        <button mat-icon-button matSuffix (click)="ranged = false" title="{{'Exact'|translate}}">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-form-field>
    </ng-container>
    <mat-form-field *ngIf="property.kind === 'boolean'">
      <mat-select [formControlName]="property.name" [placeholder]="property.label">
        <mat-option>{{'Any'|translate}}</mat-option>
        <mat-option value="true">{{'True'|translate}}</mat-option>
        <mat-option value="false">{{'False'|translate}}</mat-option>
        <mat-option value="-" *ngIf="!required">{{'No value'|translate}}</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
</ng-template>
