<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2005-2013 ManyDesigns srl
-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <display-name>ManyDesigns Portofino</display-name>
    <description>ManyDesigns Portofino</description>

    <!-- Quartz configuration -->
    <!--    <context-param>
        <param-name>quartz:config-file</param-name>
        <param-value>/some/path/my_quartz.properties</param-value>
    </context-param>-->
    <context-param>
        <param-name>quartz:shutdown-on-unload</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>quartz:wait-on-shutdown</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>quartz:start-scheduler-on-load</param-name>
        <param-value>true</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.quartz.ee.servlet.QuartzInitializerListener
        </listener-class>
    </listener>

    <listener>
        <description>Application context and session listener</description>
        <listener-class>
            com.manydesigns.portofino.servlets.PortofinoListener
        </listener-class>
    </listener>

    <filter>
        <filter-name>encoding-filter</filter-name>
        <filter-class>
            com.manydesigns.portofino.servlets.UTF8RequestFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>encoding-filter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>ckeditor-filter</filter-name>
        <filter-class>
            com.manydesigns.portofino.servlets.UTF8ResponseFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ckeditor-filter</filter-name>
        <url-pattern>/ckeditor/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>elements-filter</filter-name>
        <filter-class>
            com.manydesigns.elements.servlet.ElementsFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>elements-filter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <!-- Shiro -->
    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Uncomment the following to enable container-managed security -->
    <!--
    <filter>
        <filter-name>ServletContainerSecurityFilter</filter-name>
        <filter-class>com.manydesigns.portofino.shiro.ServletContainerSecurityFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ServletContainerSecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->

    <filter>
        <filter-name>cleanup-filter</filter-name>
        <filter-class>
            com.manydesigns.portofino.servlets.CleanupFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>cleanup-filter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>

        <!-- set the amount of seconds the conf file will be checked for reload
        can be a valid integer (0 denotes check every time,
        -1 denotes no reload check, default -1) -->
        <init-param>
            <param-name>confReloadCheckInterval</param-name>
            <param-value>60</param-value>
        </init-param>

        <!-- if you need to the conf file path can be changed
        it is specified as a path relative to the root of your context
        (default /WEB-INF/urlrewrite.xml) -->
        <init-param>
            <param-name>confPath</param-name>
            <param-value>/WEB-INF/urlrewrite.xml</param-value>
        </init-param>

        <init-param>
            <param-name>logLevel</param-name>
            <param-value>INFO</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <description>Stripes Filter</description>
        <display-name>Stripes Filter</display-name>
        <filter-name>StripesFilter</filter-name>
        <filter-class>
            net.sourceforge.stripes.controller.StripesFilter
        </filter-class>
        <init-param>
            <param-name>ActionResolver.Class</param-name>
            <param-value>com.manydesigns.portofino.stripes.ModelActionResolver</param-value>
        </init-param>
        <init-param>
            <param-name>ActionResolver.Packages</param-name>
            <param-value>com.manydesigns.portofino.actions,com.manydesigns.portofino.pageactions.safemode</param-value>
        </init-param>
        <init-param>
            <param-name>Extension.Packages</param-name>
            <param-value>com.manydesigns.portofino.stripes</param-value>
        </init-param>
        <init-param>
            <param-name>Interceptor.Classes</param-name>
            <param-value>
                com.manydesigns.portofino.interceptors.NoCacheInterceptor,
                com.manydesigns.portofino.interceptors.SecurityInterceptor,
                com.manydesigns.portofino.interceptors.ApplicationInterceptor,
                com.manydesigns.portofino.interceptors.InjectionInterceptor,
                com.manydesigns.portofino.interceptors.GuardsInterceptor
            </param-value>
        </init-param>
        <init-param>
            <param-name>LocalePicker.Locales</param-name>
            <param-value>en,it</param-value>
        </init-param>
        <init-param>
            <param-name>MultipartWrapper.Class</param-name>
            <param-value>com.manydesigns.portofino.stripes.StreamingCommonsMultipartWrapper</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>portofino-application-filter</filter-name>
        <filter-class>
            com.manydesigns.portofino.servlets.ApplicationFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>portofino-application-filter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>portofino-application-url-filter</filter-name>
        <filter-class>
            com.manydesigns.portofino.servlets.AppUrlFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>portofino-application-url-filter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>portofino-dispatcher</filter-name>
        <filter-class>
            com.manydesigns.portofino.servlets.DispatcherFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>portofino-dispatcher</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <description>Dynamically maps URLs to ActionBeans.</description>
        <display-name>Stripes Dynamic Mapping Filter</display-name>
        <filter-name>DynamicMappingFilter</filter-name>
        <filter-class>
            net.sourceforge.stripes.controller.DynamicMappingFilter
        </filter-class>
    </filter>

    <filter-mapping>
        <filter-name>DynamicMappingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
