/*******************************************************************************
Links
*******************************************************************************/

a, a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*******************************************************************************
Header / footer
*******************************************************************************/

div#hd {
    height: 3em;
}

div#ft {
    padding-top: .5em;
    border-top: 1px solid gray;
    margin-top: 1em;
}

div#hd h1 a {
    color: #166bbf;
}

div#responseTime, div#globalLinks {
    float: right;
}

/*******************************************************************************
Body and content layout
*******************************************************************************/

.yui-t2 #yui-main div#content {
    margin-left: 13.8461em;
    border: 3px solid #65a7db;
}

div#inner-content {
    padding: 0 1em;
}


/*******************************************************************************
Side bar
*******************************************************************************/

div#sidebar ul {
    margin: 0.5em 0 0 0;
    list-style-type: none;
}

div#sidebar li {
    padding: 0 0.5em;
    list-style-type: none;
}

div#sidebar ul a {
    color: black;
}

div#sidebar ul li.selected, div#sidebar ul li.selected a {
    color: white;
    background-color: #65a7db;
    font-weight: bold;
}

div#sidebar ul li.path, div#sidebar ul li.path a {
    margin-right: 1em;
    color: black;
    background-color: #eef;
    font-weight: bold;
}


/*******************************************************************************
Tabs bar
*******************************************************************************/

.tabs-bar-top {
    padding:0.5em 1em;
    background-color: #ffe;
    border-bottom: 1px solid gray;
}

ul.tabs {
    display: block;
    padding: 0.25em 0 0 0;
    margin: 0;
}

ul.tabs li {
    display: inline;
    padding: 0.5em 0.5em;
    margin: 0 1em 0 0;
}

ul.tabs li.selected {
    font-weight: bold;
    background-color: #eed;
    border: 1px solid gray;
    border-bottom-width: 0;
}

/*******************************************************************************
Buttons bar
*******************************************************************************/

.buttons-bar-top, .buttons-bar-bottom {
    background-color: #eef;
    padding: 0.5em;
    clear: both;
}

.buttons-bar-top {
    border-bottom: 1px solid gray;
}

.buttons-bar-bottom {
    border-top: 1px solid gray;
    margin-top: 1em;
}


/*******************************************************************************
Error/warning/info messages
*******************************************************************************/

ul.errorMessages, ul.warningMessages, ul.infoMessages {
    margin: 0;
    padding: 0 0.5em;
    font-weight: normal;
    font-style: italic;
    list-style-type: none;
}

ul.errorMessages li, ul.warningMessages li, ul.infoMessages li {
    list-style-type: none;
}

ul.errorMessages {
    border: 1px dashed #c00;
    background-color: #fff8f0;
}

ul.warningMessages {
    border: 1px dashed #880;
    background-color: #fffff0;
}

ul.infoMessages {
    border: 1px dashed #0a0;
    background-color: #f0fff0;
}


/*******************************************************************************
Inline form errors
*******************************************************************************/

ul.errors {
    display: inline;
    padding: 5px 0;
    border: 0 none;
    margin: 0;
}

ul.errors li {
    display: inline;
    margin: 0;
    padding: 0 0 0 16px;
    border: 0 none;
    color: red;
    font-weight: bold;
}



/*******************************************************************************
Search form
*******************************************************************************/

.search_form {
    float: right;
    width: 250px;
    background-color: #f0f0f0;
    border: 1px solid #888;
    padding: 10px;
    overflow: hidden;
    margin: 0 0 0.5em 1em;

}

.search_form ul {
    margin: 0;
    padding: 0;
    border: 0 none;
}

.search_form ul li {
    display: block;
    list-style: none;
    margin-bottom: 6px;
    padding-bottom: 6px;
    border: 0 none;
    border-bottom: 1px solid #888;
}

.search_form fieldset {
    margin: 0;
    padding: 0;
    border: 0 none;
}

.search_form legend.attr_name, .search_form label.attr_name {
    margin: 0;
    padding: 0;
    border: 0 none;
    font-weight: bold;
    font-size: 1em;
}

.search_form label.attr_name {
    display: block;
}


.search_form table.range {
    border-collapse: collapse;
}

.search_form table.range th {
    text-align: left;
    font-weight: normal;
}

.search_form label.match_mode, label.rel_name {
    display: none;
}

.search_form span.disabled {
    color: gray;
}


/*******************************************************************************
General
*******************************************************************************/

/* status */
.status_red {
    color: red;
    font-weight: bold;
}
.status_amber {
    color: #880;
    font-weight: bold;
}
.status_green {
    color: green;
    font-weight: bold;
}


/*******************************************************************************
Login
*******************************************************************************/

div#login table td tr {
    border: 0pt;
    background-color: #65a7db;
}
