/*******************************************************************************
Bootstrap overrides
*******************************************************************************/

.row-fluid [class*="span"] {
    min-height: 0;
}

.breadcrumb {
    margin-bottom: 0;
}

/*******************************************************************************
Header / footer
*******************************************************************************/

footer {
/*    background-color: #F5F5F5;*/
    border-top: 1px solid #E5E5E5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-fixed-top a {
    color: #ffffff;
}

.navbar-fixed-top {
    color: #ffffff;
}

#responseTime {
    float: right;
}

#header-menu li > a {
    color: #ffffff;
}

#header-menu li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #ffffff;
    border-top-color: #ffffff;
}

@media (min-width: 980px) {
    #header-menu {
        float: right;
    }

    #header-menu .nav > li > .dropdown-menu:after {
        border-bottom: 6px solid #555555;
    }

    #header-menu .dropdown-menu {
        background-color: #555555;
    }
}

@media (max-width: 979px) {
    #header-menu {
        float: none;
    }
}

#user-menu {
    margin-right: 0;
}

/*******************************************************************************
Breadcrumbs
*******************************************************************************/

div.breadcrumbs {
    display: inline;
}

div.breadcrumbs .inner {
    display: inline;
}

a.breadcrumb-item {
    text-decoration: underline;
    font-weight: bold;
}

span.breadcrumb-item {
/*    color: #808080; */
    color: #333333;
    font-weight: bold;
}

/*******************************************************************************
Content
*******************************************************************************/

#pageAdminForm {
    display: inline;
}

table.noBorder th,
table.noBorder td {
    border: none;
}

#navigation {
    margin-bottom: 1em;
}

/*******************************************************************************
Portlet
*******************************************************************************/

.portletHeader {
    margin-bottom: 12px;
    float: left;
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 1px solid #E5E5E5
}

.portletHeader h3, .portletHeader h4 {
    margin-bottom: 0;
}

.portletBody {
    clear: left;
}

.portletPlaceholder {
    border: 1px solid #fcefa1;
    background: #fbf9ee;
    color: #363636;
    height: 10em;
}

/*******************************************************************************
Side bar
*******************************************************************************/

div#sidebar {
    margin-top: 0.5em;
}

div#sidebar ul {
    margin: 0;
    list-style-type: none;
}

div#sidebar li {
    padding: 0 0.5em;
    list-style-type: none;
}

div#sidebar ul a {
    color: black;
}

div#sidebar ul li.selected, div#sidebar ul li.selected a {
    color: white;
    background-color: #65a7db;
    font-weight: bold;
}

div#sidebar ul li.path, div#sidebar ul li.path a {
    margin-right: 1em;
    color: black;
    background-color: #eef;
    font-weight: bold;
}


div#sidebar.adminSidebar li {
    padding: 0;
}

div#sidebar.adminSidebar li li {
    padding: 0 0.5em;
}


.navigationHeader {
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid #eeeeee;
    color: #555555;
    font-weight: bold;
}

.navigationHeader.first {
    margin-top: 0;
    padding-top: 0;
    border-top: 0 none;
}

/*******************************************************************************
Error/warning/info messages
*******************************************************************************/

.userMessages {
    margin-bottom: 1em;
}

ul.errorMessages, ul.warningMessages, ul.infoMessages {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: italic;
    list-style-type: none;
    background: no-repeat 0 center;
}

ul.errorMessages li, ul.warningMessages li, ul.infoMessages li {
    list-style-type: none;
    padding-left: 30px;
}

ul.errorMessages {
    background-image: url("../../SweetiePlus-v2-SublinkInteractive/with-shadows/badge-circle-cross-24.png");
}

ul.warningMessages {
    background-image: url("../../SweetiePlus-v2-SublinkInteractive/with-shadows/warning-24.png");
}

ul.infoMessages {
    background-image: url("../../SweetiePlus-v2-SublinkInteractive/with-shadows/badge-circle-check-24.png");
}

/*******************************************************************************
Forms
*******************************************************************************/

.hidden-submit {
    border: 0 none;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.controls .value {
    padding-top: 5px;
}

.form-horizontal .control-group.readonly {
    margin-bottom: 10px;
}

/*******************************************************************************
Inline form errors
*******************************************************************************/

ul.errors {
    display: inline;
    padding: 5px 0;
    border: 0 none;
    margin: 0;
}

ul.errors li {
    display: inline;
    margin: 0;
    padding: 0 0 0 16px;
    border: 0 none;
    color: red;
    font-weight: bold;
}



/*******************************************************************************
Search form
*******************************************************************************/

.search_form {
    overflow: hidden;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.searchform select, .searchform input {
    width: auto;
}

.searchform .control-group {
    display: inline-block; margin-right: 1em;
}

.searchform label.match_mode {
    display: none;
}

.form-inline .searchform .controls {
    display: inline-block;
    margin-left: 20px;
}

.searchform .controls label.checkbox {
    margin-bottom: 5px;
    padding: 0;
}

.searchform .controls label.checkbox input {
    margin-top: 0; margin-left: 10px; margin-right: 10px;
}

.searchform fieldset {
    margin: 0;
    padding: 0;
    border: 0 none;
}

.search_results {
    overflow-x: auto;
    overflow-y: hidden; /* Fixes a bug in Chrome */
    padding-bottom: 1px;
    border-top: 1px solid #DDDDDD;
}

.search_results.withSearchForm {
    padding-right: 1em;
    border-right: 1px solid #AAAAAA;
}

.search_results th a {
    color: #000000;
}

.searchFormButtons {
    margin-top: 1em;
}

/*******************************************************************************
General
*******************************************************************************/

/* status */
.status_red {
    color: red;
    font-weight: bold;
}
.status_amber {
    color: #880;
    font-weight: bold;
}
.status_green {
    color: green;
    font-weight: bold;
}

.error {
    color: gray;
    font-weight: bold;
}

/*******************************************************************************
Treetable
*******************************************************************************/

table.treetable span.indenter {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: right;
  user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  width: 19px;
}

table.treetable span.indenter a {
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  text-decoration: none;
  width: 19px;
}

table.treetable {
  border: 1px solid #888;
  border-collapse: collapse;
  margin: .6em 0 1.8em 0;
  width: 100%;
}

table.treetable caption {
  font-weight: bold;
  margin-bottom: .2em;
}

table.treetable thead {
  background: #aaa url(../../jquery-treetable-3.0.1/images/bg-table-thead.png) repeat-x top left;
}

table.treetable thead tr th {
  border: 1px solid #888;
  font-weight: normal;
  padding: .3em 1em .1em 1em;
  text-align: left;
}

table.treetable tbody tr td {
  cursor: default;
  padding: .3em 1em;
}

table.treetable span {
  background-position: center left;
  background-repeat: no-repeat;
  padding: .2em 0 .2em 1.5em;
}

table.treetable span.file {
  background-image: url(../../jquery-treetable-3.0.1/images/file.png);
}

table.treetable span.folder {
  background-image: url(../../jquery-treetable-3.0.1/images/folder.png);
}

table.treetable tr.collapsed span.indenter a {
  background-image: url(../../jquery-treetable-3.0.1/images/expand.png);
}

table.treetable tr.expanded span.indenter a {
  background-image: url(../../jquery-treetable-3.0.1/images/collapse.png);
}

table.treetable tr.selected {
  background-color: #3875d7;
  color: #fff;
}

table.treetable tr.collapsed.selected span.indenter a {
  background-image: url(../../jquery-treetable-3.0.1/images/expand-light.png);
}

table.treetable tr.expanded.selected span.indenter a {
  background-image: url(../../jquery-treetable-3.0.1/images/collapse-light.png);
}

table.treetable tr.accept {
  background-color: #a3bce4;
  color: #fff
}

table.treetable tr.collapsed.accept td span.indenter a {
  background-image: url(../../jquery-treetable-3.0.1/images/expand-light.png);
}

table.treetable tr.expanded.accept td span.indenter a {
  background-image: url(../../jquery-treetable-3.0.1/images/collapse-light.png);
}

/*******************************************************************************
Forms
*******************************************************************************/

#scriptEditor {
    min-height: 20em; width: 100%; display: none;
    position: relative; padding: 0;
}

fieldset.radio {
    margin-bottom: 0;
}

.horizontalSeparator {
    border-top: 1px solid #eeeeee;
    margin: 1.5em 0;
    clear: both;
}

.attachment {
    margin: 0.2em 2em 0.2em 0;
    float:left;
    padding-left: 20px;
    background: url("../../famfamfam_mini_icons/page_attachment.gif") no-repeat left center;
}

.attachment.mime-image-png {
    background-image: url("../../famfamfam_mini_icons/page_colors.gif") ;
}

.attachment.mime-application-binary {
    background-image: url("../../famfamfam_mini_icons/file_acrobat.gif") ;
}

.attachmentName {
    font-weight: bold;
}

.portletBox {
    padding: 1em 0;
    border: 1px dashed gray;
    margin-bottom: 1em;
    min-height: 12em;
}

ul.groupBox {
    list-style-type: none;
    border: 1px dashed gray;
    min-height: 12em;
    margin: 0;
}

li.group, li.groupPlaceholder {
    list-style-type: none;
    margin: 0 0 5px 0;
    padding: 5px;
    height: 1.5em;
    font-weight: bold;
}

.groupPlaceholder {
    border: 1px solid #fcefa1;
    background: #fbf9ee;
    color: #363636;
}

.groupBoxTitle {
    font-weight: normal;
    margin-bottom: 0.5em;
}

.mde-table-form input[type='checkbox'] {
    margin: 0;
}

.table.mde-table-form th, .table.mde-table-form td {
    vertical-align: middle;
}

label.control-label.mde-password-confirm-label {
    display: inline; float: none; margin-left: 1em; margin-right: 1em;
}

/*******************************************************************************
Permissions
*******************************************************************************/

table#userPermissionTestResults th,
table#userPermissionTestResults td {
    border: none;
    text-align: left;
}

/*******************************************************************************
Wizard
*******************************************************************************/

.wizard-header {
    overflow-y: hidden;
    padding-left: 0;
}

.wizard-step {
    font-weight: bold;
    font-size: 1.2em;
    background: #F8F8FF url('images/wizard-arrow.png') left center no-repeat;
    padding: 1em 0 1em 2.5em;
}

.wizard-step.first {
    border-radius: 3px 0 0 0;
    background-image: none;
    padding: 1em 0 1em 0;
}

.wizard-step.before {
    color: #555555;
}

.wizard-step.current {
    color: #166BBF;
    background-color: white;
}

.wizard-step.immediately-after-current {
    background: #F8F8FF url('images/wizard-current-arrow.png') left center no-repeat;
}

wizard-step.after {
    color: black;
}

/*******************************************************************************
Configuration
*******************************************************************************/

#crudSelectionProvidersFieldset select, #crudSelectionProvidersFieldset input {
    width: auto;
}