@import url("../../portofino-base/admin-theme/portofino-admin.css");

/*******************************************************************************
Header / footer
*******************************************************************************/

#responseTime {
    float: right;
}

/*******************************************************************************
Breadcrumbs
*******************************************************************************/

div.breadcrumbs {
    display: inline;
}

div.breadcrumbs .inner {
    display: inline;
}

a.breadcrumb-item {
    text-decoration: underline;
    font-weight: bold;
}

span.breadcrumb-item {
    color: #333333;
    font-weight: bold;
}

/*******************************************************************************
Content
*******************************************************************************/

#pageAdminForm {
    display: inline;
}

#navigation {
    margin-bottom: 1em;
}

/*******************************************************************************
PageActions
*******************************************************************************/

.portletHeader {
    margin-bottom: 12px;
    float: left;
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 1px solid #E5E5E5
}

.portletHeader h3, .portletHeader h4 {
    margin-bottom: 0;
}

.portletHeader form {
    margin: 0;
}

.portletBody {
    clear: left;
}

.pageActionPlaceholder {
    border: 1px solid #fcefa1;
    background: #fbf9ee;
    color: #363636;
    height: 10em;
}

/*******************************************************************************
Search form
*******************************************************************************/

.search_form {
    overflow: hidden;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.searchform select, .searchform input {
    width: auto;
}

.searchform .control-group {
    display: inline-block; margin-right: 1em;
}

.searchform label.match_mode {
    display: none;
}

.form-inline .searchform .controls {
    display: inline-block;
    margin-left: 20px;
}

.searchform .controls label.checkbox {
    margin-bottom: 5px;
    padding: 0;
}

.searchform .controls label.checkbox input {
    margin-top: 0; margin-left: 10px; margin-right: 10px;
}

.searchform fieldset {
    margin: 0;
    padding: 0;
    border: 0 none;
}

.search_results {
    overflow-x: auto;
    overflow-y: hidden; /* Fixes a bug in Chrome */
    margin-bottom: 20px;
    border-top: 1px solid #DDDDDD;
}

.search_results th a {
    color: #000000;
}

.search_results table {
    margin-bottom: 0;
}

.searchFormButtons {
    margin-top: 1em;
}

/*******************************************************************************
Treetable
*******************************************************************************/

table.treetable span.indenter {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: right;
  user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  width: 19px;
}

table.treetable span.indenter a {
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  text-decoration: none;
  width: 19px;
}

table.treetable {
  border: 1px solid #888;
  border-collapse: collapse;
  margin: .6em 0 1.8em 0;
  width: 100%;
}

table.treetable caption {
  font-weight: bold;
  margin-bottom: .2em;
}

table.treetable thead {
  background: #aaa url(../../jquery-treetable-3.0.1/images/bg-table-thead.png) repeat-x top left;
}

table.treetable thead tr th {
  border: 1px solid #888;
  font-weight: normal;
  padding: .3em 1em .1em 1em;
  text-align: left;
}

table.treetable tbody tr td {
  cursor: default;
  padding: .3em 1em;
}

table.treetable span {
  background-position: center left;
  background-repeat: no-repeat;
  padding: .2em 0 .2em 1.5em;
}

table.treetable span.file {
  background-image: url(../../jquery-treetable-3.0.1/images/file.png);
}

table.treetable span.folder {
  background-image: url(../../jquery-treetable-3.0.1/images/folder.png);
}

table.treetable tr.collapsed span.indenter a {
  background-image: url(../../jquery-treetable-3.0.1/images/expand.png);
}

table.treetable tr.expanded span.indenter a {
  background-image: url(../../jquery-treetable-3.0.1/images/collapse.png);
}

table.treetable tr.selected {
  background-color: #3875d7;
  color: #fff;
}

table.treetable tr.collapsed.selected span.indenter a {
  background-image: url(../../jquery-treetable-3.0.1/images/expand-light.png);
}

table.treetable tr.expanded.selected span.indenter a {
  background-image: url(../../jquery-treetable-3.0.1/images/collapse-light.png);
}

table.treetable tr.accept {
  background-color: #a3bce4;
  color: #fff
}

table.treetable tr.collapsed.accept td span.indenter a {
  background-image: url(../../jquery-treetable-3.0.1/images/expand-light.png);
}

table.treetable tr.expanded.accept td span.indenter a {
  background-image: url(../../jquery-treetable-3.0.1/images/collapse-light.png);
}

/*******************************************************************************
Forms
*******************************************************************************/

#scriptEditor {
    min-height: 20em; width: 100%; display: none;
    position: relative; padding: 0;
}

td.selection-cell {
    width: 13px;
}

.attachment {
    margin: 0.2em 2em 0.2em 0;
    float:left;
    padding-left: 20px;
    background: url("../../famfamfam_mini_icons/page_attachment.gif") no-repeat left center;
}

.attachment.mime-image-png {
    background-image: url("../../famfamfam_mini_icons/page_colors.gif") ;
}

.attachment.mime-application-binary {
    background-image: url("../../famfamfam_mini_icons/file_acrobat.gif") ;
}

.attachmentName {
    font-weight: bold;
}

.portletBox {
    padding: 1em 0;
    border: 1px dashed gray;
    margin-bottom: 1em;
    min-height: 12em;
}

/*******************************************************************************
Permissions
*******************************************************************************/

table#userPermissionTestResults th,
table#userPermissionTestResults td {
    border: none;
    text-align: left;
}

/*******************************************************************************
Configuration
*******************************************************************************/

#crudSelectionProvidersFieldset select, #crudSelectionProvidersFieldset input {
    width: auto;
}

/*******************************************************************************
Wizard
*******************************************************************************/

.wizard-header {
    overflow-y: hidden;
    padding-left: 0;
}

.wizard-header ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.wizard-header ul li {
    height: 46px;
    line-height: 46px;
    margin: 0;
    padding: 0 10px 0 30px;
    position: relative;
    float: left;
    background-color: #F8F8FF;
}

.wizard-header ul li .chevron {
  position: absolute;
  top: 0;
  right: -14px;
  display: block;
  border: 24px solid transparent;
  border-right: 0;
  border-left: 14px solid #d4d4d4;
}

.wizard-header ul li .chevron:before {
  position: absolute;
  top: -24px;
  right: 1px;
  display: block;
  border: 24px solid transparent;
  border-right: 0;
  border-left: 14px solid #F8F8FF;
  content: "";
}

.wizard-header ul li.active {
    background: none repeat scroll 0 0 #F1F6FC;
    color: #3A87AD;
    font-weight: bold;
}

.wizard-header ul li.active .chevron:before {
  border-left: 14px solid #F1F6FC;
}

.wizard-header ul li.first {
    padding-left: 10px;
}

.wizard-header ul li.before {
    color: #468847;
    background-color: #F3F4F5;
}

.wizard-header ul li.before .chevron:before {
  border-left: 14px solid #F3F4F5;
}

/*******************************************************************************
CRUD
*******************************************************************************/

.crudReadButtons {
    border-top: solid 1px #E5E5E5;
    padding-top: 10px;
}