<div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="20px">
  <mat-form-field>
    <mat-select [required]="true" [formControl]="keySelector">
      <mat-option *ngFor="let k of keys" [value]="k">
        {{ k.label || k.key }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox *ngFor="let assoc of associations" [(ngModel)]="assoc.selected" [disabled]="!saveEnabled">
    {{assoc.key.label}}
  </mat-checkbox>
  <button mat-raised-button color="primary" type="button" (click)="save()" *ngIf="saveEnabled && key" i18n>
    <mat-icon>save</mat-icon>
    Save
  </button>
</div>
