/*******************************************************************************
Header / footer
*******************************************************************************/

footer {
    border-top: 1px solid #E5E5E5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-menu {
    float: right;
}

@media (max-width: 979px) {
    .header-menu {
        float: none;
    }
}

/*******************************************************************************
Error/warning/info messages (Elements)
*******************************************************************************/

.userMessages {
    margin-bottom: 1em;
}

ul.errorMessages, ul.warningMessages, ul.infoMessages {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: italic;
    list-style-type: none;
    background: no-repeat 0 center;
}

ul.errorMessages li, ul.warningMessages li, ul.infoMessages li {
    list-style-type: none;
    padding-left: 30px;
}

ul.errorMessages {
    background-image: url("SweetiePlus-v2-SublinkInteractive/with-shadows/badge-circle-cross-24.png");
}

ul.warningMessages {
    background-image: url("SweetiePlus-v2-SublinkInteractive/with-shadows/warning-24.png");
}

ul.infoMessages {
    background-image: url("SweetiePlus-v2-SublinkInteractive/with-shadows/badge-circle-check-24.png");
}

/*******************************************************************************
Forms (Elements)
*******************************************************************************/

.hidden-submit {
    border: 0 none;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        float: left;
    }

    .form-horizontal .input-container {
        float: left;
    }
}

/* 1-column form default */
.form-horizontal .control-label {
    width: 16.66666667%;
}

@media (max-width: 991px) {
    /* 1-column form */
    .form-horizontal .input-container {
        width: 83.33333333%;
    }
}

@media (min-width: 992px) {
    /* 1-column form */
    .form-horizontal fieldset.mde-columns-1 .input-container {
        width: 33.33333333%;
    }

    /* 2-columns form */
    .form-horizontal fieldset.mde-columns-2 .mde-colspan-1 .control-label {
        width: 33.33333333%;
    }

    .form-horizontal fieldset.mde-columns-2 .mde-colspan-1 .input-container {
        width: 66.66666667%;
    }

    .form-horizontal fieldset.mde-columns-2 .mde-colspan-2 .control-label {
        width: 16.66666667%;
    }

    .form-horizontal fieldset.mde-columns-2 .mde-colspan-2 .input-container {
        width: 83.33333333%;
    }

    /* 3-columns form */
    .form-horizontal fieldset.mde-columns-3 .mde-colspan-1 .control-label {
        width: 50%;
    }

    .form-horizontal fieldset.mde-columns-3 .mde-colspan-1 .input-container {
        width: 50%;
    }

    .form-horizontal fieldset.mde-columns-3 .mde-colspan-2 .control-label {
        width: 25%;
    }

    .form-horizontal fieldset.mde-columns-3 .mde-colspan-2 .input-container {
        width: 75%;
    }

    .form-horizontal fieldset.mde-columns-3 .mde-colspan-3 .control-label {
        width: 16.66666667%;
    }

    .form-horizontal fieldset.mde-columns-3 .mde-colspan-3 .input-container {
        width: 83.33333333%;
    }
}

.form-horizontal .control-label {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.form-horizontal .input-container {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

/* 1-column form */
.form-horizontal .row .col-md-12 div.input-container.fill-row {
    width: 83.33333333%;
}

/* form in well */
.well-with-tabs .form-horizontal .control-label {
    width: 33.33333333%;
}

.well-with-tabs .form-horizontal fieldset.mde-columns-1 .input-container {
    width: 66.66666667%;
}

tbody div.form-control {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    height: auto;
    margin: auto;
    padding: 0;
}

input.mde-text-field-with-explicit-size, textarea.mde-text-field-with-explicit-size {
    width: auto;
}

fieldset.radio {
    margin-bottom: 0;
}

.horizontalSeparator {
    border-top: 1px solid #eeeeee;
    margin: 1.5em 0;
    clear: both;
}

table.table.mde-table-form > tbody > tr > td, table.table.mde-table-form > tbody > tr > th,
table.table.mde-table-form > thead > tr > td, table.table.mde-table-form > thead > tr > th {
    vertical-align: middle;
}

table.mde-table-form div.checkbox {
    margin-bottom: 0;
}

table.mde-table-form div.checkbox label.checkbox-inline {
    vertical-align: inherit;
}

label.control-label:after {
    content: ":";
}

.form-group.readwrite.required label.control-label:before {
    content: "* ";
}

.portofino-datatable {
    margin-bottom: 15px;
}

.portofino-datatable ul.pagination {
    float: right;
    margin: 0;
}

.boolean-search-field .form-control {
    border: none;
    box-shadow: none;
}

/*******************************************************************************
General
*******************************************************************************/

/* status */
.status_red {
    color: red;
    font-weight: bold;
}

.status_amber {
    color: #880;
    font-weight: bold;
}

.status_green {
    color: green;
    font-weight: bold;
}

.blob-error {
    color: gray;
    font-weight: bold;
}

.white {
    color: #ffffff;
}

/*******************************************************************************
Dialog (e.g., login)
*******************************************************************************/

body.dialog {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.dialog-container {
    max-width: 400px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.spacingTop {
    margin-top: 20px;
}

.dialog-move-page .form-horizontal fieldset.mde-columns-1 label.control-label {
    width: 40%;
}

.dialog-move-page .form-horizontal fieldset.mde-columns-1 div.input-container {
    width: 60%;
}

.dialog-copy-page .form-horizontal fieldset.mde-columns-1 label.control-label {
    width: 25%;
}

.dialog-copy-page .form-horizontal fieldset.mde-columns-1 div.input-container {
    width: 75%;
}

/*******************************************************************************
Breadcrumbs
*******************************************************************************/

div.breadcrumbs {
    display: inline;
}

div.breadcrumbs .inner {
    display: inline;
}

a.breadcrumb-item {
    text-decoration: underline;
    font-weight: bold;
}

span.breadcrumb-item {
    color: #333333;
    font-weight: bold;
}

/*******************************************************************************
Content
*******************************************************************************/

#pageAdminForm {
    display: inline;
}

.navigation {
    margin-bottom: 1em;
}

.navbar-inverse .navbar-btn {
  background-color: #222222;
  border-color: #333333;
  color: #999999;
}
.navbar-inverse .navbar-btn:hover {
  color: #ffffff;
  background-color: #333333;
}

.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:focus {
    background-color: transparent;
}

/*******************************************************************************
PageActions
*******************************************************************************/

.pageHeader {
    margin-bottom: 12px;
    margin-top: 10px;
    float: left;
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 1px solid #E5E5E5;
}

.pageHeader h3, .pageHeader h4 {
    margin-bottom: 0;
    margin-top: 0;
}

.pageHeader form {
    margin: 0;
}

.pageBody {
    clear: left;
}

.embeddedPageActionPlaceholder {
    border: 1px solid #fcefa1;
    background: #fbf9ee;
    color: #363636;
    height: 10em;
}

/*******************************************************************************
Search form
*******************************************************************************/

.search_form {
    margin-top: 15px;
    margin-bottom: 15px;
}

.searchform label.match_mode {
    display: none;
}

.form-inline .searchform div.form-control.checkbox,
.form-inline .searchform div.form-control.radio,
.form-inline .searchform div.form-control.multiple-select {
    border: medium none;
    box-shadow: none;
}

.form-inline .searchform div.form-control.multiple-select {
    height: auto;
}

.searchform fieldset {
    margin: 0;
    padding: 0;
    border: 0 none;
}

.searchform .form-group {
    margin-bottom: 15px;
}

.searchform .form-group > .control-label {
    padding: 6px 12px;
}

.text-search-form-control {
    display: inline-block;
}

.searchform .control-label.input-group-addon {
    background: none;
    border: none;
    color: #000000;
    font-weight: bold;
}

.search_results {
    overflow-x: auto;
    overflow-y: hidden; /* Fixes a bug in Chrome */
    margin-bottom: 20px;
    border-top: 1px solid #DDDDDD;
}

.search_results th a {
    color: #000000;
}

.search_results table {
    margin-bottom: 0;
}

.searchFormButtons {
    margin-top: 1em;
}

/*******************************************************************************
Treetable
*******************************************************************************/

table.treetable span.indenter {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: right;

    /* Disable text selection of nodes (for better D&D UX) */
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;

    /* Force content-box box model for indenter (Bootstrap compatibility) */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    width: 19px;
}

table.treetable span.indenter a {
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    text-decoration: none;
    width: 19px;
}

table.treetable {
    border: 1px solid #888;
    border-collapse: collapse;
    margin: .6em 0 1.8em 0;
    width: 100%;
}

table.treetable caption {
    font-weight: bold;
    margin-bottom: .2em;
}

table.treetable thead {
    background: #aaa url(jquery-treetable/images/bg-table-thead.png) repeat-x top left;
}

table.treetable thead tr th {
    border: 1px solid #888;
    font-weight: normal;
    padding: .3em 1em .1em 1em;
    text-align: left;
}

table.treetable tbody tr td {
    cursor: default;
    padding: .3em 1em;
}

table.treetable span {
    background-position: center left;
    background-repeat: no-repeat;
    padding: .2em 0 .2em 1.5em;
}

table.treetable span.file {
    background-image: url(jquery-treetable/images/file.png);
}

table.treetable span.folder {
    background-image: url(jquery-treetable/images/folder.png);
}

table.treetable tr.collapsed span.indenter a {
    background-image: url(jquery-treetable/images/expand.png);
}

table.treetable tr.expanded span.indenter a {
    background-image: url(jquery-treetable/images/collapse.png);
}

table.treetable tr.selected {
    background-color: #3875d7;
    color: #fff;
}

table.treetable tr.collapsed.selected span.indenter a {
    background-image: url(jquery-treetable/images/expand-light.png);
}

table.treetable tr.expanded.selected span.indenter a {
    background-image: url(jquery-treetable/images/collapse-light.png);
}

table.treetable tr.accept {
    background-color: #a3bce4;
    color: #fff
}

table.treetable tr.collapsed.accept td span.indenter a {
    background-image: url(jquery-treetable/images/expand-light.png);
}

table.treetable tr.expanded.accept td span.indenter a {
    background-image: url(jquery-treetable/images/collapse-light.png);
}

/*******************************************************************************
Forms
*******************************************************************************/

#scriptEditor {
    min-height: 20em;
    width: 100%;
    display: none;
    position: relative;
    padding: 0;
}

.attachment {
    margin: 0.2em 2em 0.2em 0;
    float: left;
    padding-left: 20px;
}

.attachmentName {
    font-weight: bold;
}

.pageActionBox {
    padding: 1em 0;
    border: 1px dashed gray;
    margin-bottom: 1em;
    min-height: 12em;
}

/*******************************************************************************
Permissions
*******************************************************************************/

table#userPermissionTestResults th,
table#userPermissionTestResults td {
    border: none;
    text-align: left;
}

/*******************************************************************************
Configuration
*******************************************************************************/

#crudSelectionProvidersFieldset select, #crudSelectionProvidersFieldset input {
    width: auto;
}

/*******************************************************************************
Wizard
*******************************************************************************/

.wizard-header {
    overflow-y: hidden;
    padding-left: 0;
}

.wizard-header ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.wizard-header ul li {
    height: 46px;
    line-height: 46px;
    margin: 0;
    padding: 0 10px 0 30px;
    position: relative;
    float: left;
    background-color: #F8F8FF;
}

.wizard-header ul li .chevron {
    position: absolute;
    top: 0;
    right: -14px;
    display: block;
    border: 24px solid transparent;
    border-right: 0;
    border-left: 14px solid #d4d4d4;
}

.wizard-header ul li .chevron:before {
    position: absolute;
    top: -24px;
    right: 1px;
    display: block;
    border: 24px solid transparent;
    border-right: 0;
    border-left: 14px solid #F8F8FF;
    content: "";
}

.wizard-header ul li.active {
    background: none repeat scroll 0 0 #F1F6FC;
    color: #3A87AD;
    font-weight: bold;
}

.wizard-header ul li.active .chevron:before {
    border-left: 14px solid #F1F6FC;
}

.wizard-header ul li.first {
    padding-left: 10px;
}

.wizard-header ul li.before {
    color: #468847;
    background-color: #F3F4F5;
}

.wizard-header ul li.before .chevron:before {
    border-left: 14px solid #F3F4F5;
}

/* ============================================== */
/* theme/templates/well-with-tabs/main.jsp        */
/* ============================================== */

.tab-content .pageHeader {
    display: none;
}

/*******************************************************************************
CRUD
*******************************************************************************/

.crudReadButtons {
    border-top: solid 1px #E5E5E5;
    padding-top: 10px;
}

/*******************************************************************************
Typeahead
*******************************************************************************/

.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
  color: #999
}

input.tt-input {
    vertical-align: middle !important;
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

/*******************************************************************************
Charts
*******************************************************************************/

.legend-container span {
    display: inline-block;
    min-width: 20px;
}

.legend-container ul {
    list-style: outside none none;
    padding-left: 13px;
}