/*******************************************************************************
Page Body
*******************************************************************************/
#content {
    padding-bottom: 50px; /* Height of the footer element */
}

#wrapper {
    min-height: 100%;
    position: relative;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    letter-spacing: 0.02em;
    color: #333;
}

/*******************************************************************************
Header / footer
*******************************************************************************/

footer {
    border-top: 1px solid #E5E5E5;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient( to bottom, rgba(240, 240, 240, 0.5) , rgba(255, 255, 255, 0));

    background-image: -o-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
    background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(245, 245, 245, 0.79)),to(rgba(255, 255, 255, 0.94)));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0)";

    color: #5a5a5a;
    font-size: 11px;
    margin-top: 10px;

    width:100%;
	position:absolute;
	bottom:0;
	left:0;
    height:40px;
}

.header-menu {
    float: right;
}

@media (max-width: 979px) {
    .header-menu {
        float: none;
    }
}

.contentFooter {
    color: #5a5a5a;
    text-rendering: optimizeLegibility;
    text-align: center;
    font-size: smaller;
}

/*******************************************************************************
Error/warning/info messages (Elements)
*******************************************************************************/

.userMessages {
    margin-bottom: 1em;
}

ul.errorMessages, ul.warningMessages, ul.infoMessages {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: italic;
    list-style-type: none;
    background: no-repeat 0 center;
}

ul.errorMessages li, ul.warningMessages li, ul.infoMessages li {
    list-style-type: none;
    padding-left: 30px;
}

ul.errorMessages {
    background-image: url("SweetiePlus-v2-SublinkInteractive/with-shadows/badge-circle-cross-24.png");
}

ul.warningMessages {
    background-image: url("SweetiePlus-v2-SublinkInteractive/with-shadows/warning-24.png");
}

ul.infoMessages {
    background-image: url("SweetiePlus-v2-SublinkInteractive/with-shadows/badge-circle-check-24.png");
}

.alert { box-shadow: 0px 0px 5px rgba(129, 129, 129, 0.15); }
.alert.alert-warning { box-shadow: 0px 0px 5px rgba(222, 222, 74, 0.15); }
.alert.alert-danger  { box-shadow: 0px 0px 5px rgba(220, 66, 66, 0.15);  }

.alert-success, .alert-danger, .alert-info, .alert-warning {
    background-image: none;
    filter: none;
    border-color: transparent;
}

/*******************************************************************************
Forms (Elements)
*******************************************************************************/

.hidden-submit {
    border: 0 none;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        float: left;
    }

    .form-horizontal .input-container {
        float: left;
    }

    .form-horizontal .mde-columns-6 .control-label {
        float: none;
    }

    .form-horizontal .mde-columns-6 .input-container {
        float: none;
    }
}

/* 1-column form default */
.form-horizontal .control-label {
    width: 16.66666667%;
}

@media (max-width: 991px) {
    /* 1-column form */
    .form-horizontal .control-label {
        width: inherit;
    }

    .form-horizontal .input-container {
        width: 100%;
    }
}

@media (min-width: 992px) {
    /* 1-column form */
    .form-horizontal fieldset.mde-columns-1 .input-container {
        width: 33.33333333%;
    }

    /* 2-columns form */
    .form-horizontal fieldset.mde-columns-2 .mde-colspan-1 .control-label {
        width: 33.33333333%;
    }

    .form-horizontal fieldset.mde-columns-2 .mde-colspan-1 .input-container {
        width: 66.66666667%;
    }

    .form-horizontal fieldset.mde-columns-2 .mde-colspan-2 .control-label {
        width: 16.66666667%;
    }

    .form-horizontal fieldset.mde-columns-2 .mde-colspan-2 .input-container {
        width: 83.33333333%;
    }

    /* 3-columns form */
    .form-horizontal fieldset.mde-columns-3 .mde-colspan-1 .control-label {
        width: 50%;
    }

    .form-horizontal fieldset.mde-columns-3 .mde-colspan-1 .input-container {
        width: 50%;
    }

    .form-horizontal fieldset.mde-columns-3 .mde-colspan-2 .control-label {
        width: 25%;
    }

    .form-horizontal fieldset.mde-columns-3 .mde-colspan-2 .input-container {
        width: 75%;
    }

    .form-horizontal fieldset.mde-columns-3 .mde-colspan-3 .control-label {
        width: 16.66666667%;
    }

    .form-horizontal fieldset.mde-columns-3 .mde-colspan-3 .input-container {
        width: 83.33333333%;
    }
}

.form-horizontal .control-label {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.form-horizontal .input-container {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

/* 1-column form */
.form-horizontal .row .col-md-12 div.input-container.fill-row {
    width: 83.33333333%;
}

/* form in well */
.well-with-tabs .form-horizontal .control-label {
    width: 33.33333333%;
}

.well-with-tabs .form-horizontal fieldset.mde-columns-1 .input-container {
    width: 66.66666667%;
}

.well {
    background-color: #F9F9F9;
    background-image: -webkit-linear-gradient(top,#F3F3F3 0,#FEFEFE 100%);
    background-image: -o-linear-gradient(top,#F3F3F3 0,#FEFEFE 100%);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#F3F3F3),to(#FEFEFE));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3F3F3', endColorstr='#FEFEFE', GradientType=0)";
    background-repeat: repeat-x;
    border-color: #dcdcdc;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);
}

tbody div.form-control {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    height: auto;
    margin: auto;
    padding: 0;
}

input.mde-text-field-with-explicit-size, textarea.mde-text-field-with-explicit-size {
    width: auto;
}

fieldset.radio {
    margin-bottom: 0;
}

.horizontalSeparator {
    border-top: 1px solid #eeeeee;
    margin: 1.5em 0;
    clear: both;
}

table.table.mde-table-form > tbody > tr > td, table.table.mde-table-form > tbody > tr > th,
table.table.mde-table-form > thead > tr > td, table.table.mde-table-form > thead > tr > th {
    vertical-align: middle;
}

.checkbox-inline > label, .radio-inline > label {
    font-weight: inherit;
}

label.control-label:after {
    content: ":";
}

 .form-group.readonly {
    margin-bottom: 2px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group.readwrite.required label.control-label:before {
    content: "*\a0 ";
}

.portofino-datatable {
    margin-bottom: 15px;
}

.portofino-datatable ul.pagination {
    float: right;
    margin: 0;
}

.boolean-search-field .form-control {
    border: none;
    box-shadow: none;
}

.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 10px;
    background-color: #F5F5F5;
    border: 0px solid #ddd;
    letter-spacing: 0.05em;
    margin-left: -5px;
    border-radius: 0px;
}

.pager li:first-child>a {
    border-radius: 4px 0px 0px 4px;
}

.pager li:last-child>a {
    border-radius: 0px 4px 4px 0px;
}

.pager .disabled>a, .pager .disabled>a:focus, .pager .disabled>a:hover, .pager .disabled>span {
    color: #ccc;
    background-color: #F5F5F5;
}

.g_pag_left {
    left: -12px;
    margin-right: -12px;
}

.g_pag_right {
    left: 12px;
    margin-left: -12px;
}

.form-control-static.no-value:before {
    content: "-";
}

/*******************************************************************************
General
*******************************************************************************/

/* status */
.status_red {
    color: red;
    font-weight: bold;
}

.status_amber {
    color: #880;
    font-weight: bold;
}

.status_green {
    color: green;
    font-weight: bold;
}

.blob-error {
    color: gray;
    font-weight: bold;
}

.white {
    color: #ffffff;
}

/*******************************************************************************
Dialog (e.g., login)
*******************************************************************************/

body.dialog {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #f5f5f5;
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #DADADA 100%);
    background: linear-gradient(to bottom, #FFFFFF 0%, #DADADA 100%);
}

.dialog-container {
    max-width: 480px;
    padding: 20px 35px 35px;
    margin: 0 auto 20px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.dialog-container .pageHeader {
    text-align: center;
}

.spacingTop {
    margin-top: 20px;
}

.dialog-move-page .form-horizontal fieldset.mde-columns-1 label.control-label {
    width: 40%;
}

.dialog-move-page .form-horizontal fieldset.mde-columns-1 div.input-container {
    width: 60%;
}

.dialog-copy-page .form-horizontal fieldset.mde-columns-1 label.control-label {
    width: 25%;
}

.dialog-copy-page .form-horizontal fieldset.mde-columns-1 div.input-container {
    width: 75%;
}

/*******************************************************************************
Breadcrumb
*******************************************************************************/

.breadcrumb {
    margin-bottom: 5px;
    padding: 5px 10px;
}

/*******************************************************************************
Content
*******************************************************************************/

#pageAdminForm {
    display: inline;
}

.navigation {
    letter-spacing: 0.03em;
    margin-bottom: 1em;
}

.navbar-inverse .navbar-btn {
  background-color: #222222;
  border-color: #333333;
  color: #999999;
}
.navbar-inverse .navbar-btn:hover {
  color: #ffffff;
  background-color: #333333;
}

.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:focus {
    background-color: transparent;
}

/*******************************************************************************
PageActions
*******************************************************************************/

.pageTitle {
    display: inline;
}

.nav-tabs {
    margin-bottom: 12px;
}

.pageHeader {
    margin-bottom: 12px;
    margin-top: 10px;
    float: left;
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 1px solid #E5E5E5;
}

.pageHeader h3, .pageHeader h4 {
    margin-bottom: 0;
    margin-top: 0;
}

.pageHeader form {
    margin: 0;
}

.pageBody {
    clear: left;
}

.embeddedPageActionPlaceholder {
    border: 1px solid #fcefa1;
    background: #fbf9ee;
    color: #363636;
    height: 10em;
}

/*******************************************************************************
Search form
*******************************************************************************/

.search_form {
    margin-top: 15px;
    margin-bottom: 15px;
}

.searchform label.match_mode {
    display: none;
}

.form-inline .searchform div.form-control.multiple-select {
    height: auto;
}

.searchform fieldset {
    margin: 0;
    padding: 0;
    border: 0 none;
}

.searchform .form-group {
    margin-bottom: 15px;
}

.searchform .form-group > .control-label {
    padding: 6px 12px;
}

.text-search-form-control {
    display: inline-block;
}

.searchform .control-label.input-group-addon {
    background: none;
    border: none;
    color: #333;
    font-weight: bold;
}

.search_results {
    overflow-x: auto;
    overflow-y: hidden; /* Fixes a bug in Chrome */
    margin-bottom: 20px;
}

.search_results th a {
    color: #333;
}

.search_results table {
    margin-bottom: 0;
}

.searchFormButtons {
    margin-top: 1em;
}

/*******************************************************************************
Forms
*******************************************************************************/

#scriptEditor {
    min-height: 20em;
    width: 100%;
    display: none;
    position: relative;
    padding: 0;
}

.attachment {
    margin: 0.2em 2em 0.2em 0;
    float: left;
    padding-left: 20px;
}

.attachmentName {
    font-weight: bold;
}

.pageActionBox {
    padding: 1em 0;
    border: 1px dashed gray;
    margin-bottom: 1em;
    min-height: 12em;
}

/*******************************************************************************
Permissions
*******************************************************************************/

table#userPermissionTestResults th,
table#userPermissionTestResults td {
    border: none;
    text-align: left;
}

/*******************************************************************************
Configuration
*******************************************************************************/

#crudSelectionProvidersFieldset select, #crudSelectionProvidersFieldset input {
    width: auto;
}

input { min-width: 150px; }

#sortable li {
    cursor: move;
}

/*******************************************************************************
Wizard
*******************************************************************************/

.wizard-header {
    overflow-y: hidden;
    padding-left: 0;
}

.wizard-header ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.wizard-header ul li {
    height: 46px;
    line-height: 46px;
    margin: 0;
    padding: 0 10px 0 30px;
    position: relative;
    float: left;
    background-color: #F8F8FF;
}

.wizard-header ul li .chevron {
    position: absolute;
    top: 0;
    right: -14px;
    display: block;
    border: 24px solid transparent;
    border-right: 0;
    border-left: 14px solid #d4d4d4;
}

.wizard-header ul li .chevron:before {
    position: absolute;
    top: -24px;
    right: 1px;
    display: block;
    border: 24px solid transparent;
    border-right: 0;
    border-left: 14px solid #F8F8FF;
    content: "";
}

.wizard-header ul li.active {
    background: none repeat scroll 0 0 #F1F6FC;
    color: #3A87AD;
    font-weight: bold;
}

.wizard-header ul li.active .chevron:before {
    border-left: 14px solid #F1F6FC;
}

.wizard-header ul li.first {
    padding-left: 10px;
}

.wizard-header ul li.before {
    color: #468847;
    background-color: #F3F4F5;
}

.wizard-header ul li.before .chevron:before {
    border-left: 14px solid #F3F4F5;
}

/* TODO merge */
.wizard-header{
    border-radius: 10px;
    letter-spacing: 0.05em;
}

.wizard-header ul li .chevron {
    position: absolute;
    top: 0;
    right: -14px;
    display: block;
    border: 24px solid transparent;
    border-right: 0;
    border-left: 14px solid #FFFFFF;
}

.wizard-header ul li.before {
    color: transparent;
    background-color: #50966f;
}

.wizard-header ul li.before .chevron:before {
    border-left: 14px solid #50966f;
}

.wizard-header li{ width: 14% }
.wizard-header li.active{ width: 40% }

.wizard-header ul li.active {
    background: none repeat scroll 0 0 #3a74ad;
    color: #fff;
}

.wizard-header ul li {
    background: none repeat scroll 0 0 #7fb0e0;
    color: transparent;
}

.wizard-header ul li.active .chevron:before {
    border-left: 14px solid #3a74ad;
}

.wizard-header ul li .chevron:before{
    border-left: 14px solid #7fb0e0;
}

.wizard-header .badge {
    background-color: rgba(109, 105, 105, 0.3);
}

.active .badge.alert-info {
    display: none;
}

/* ============================================== */
/* theme/templates/well-with-tabs/main.jsp        */
/* ============================================== */

.tab-content .pageHeader {
    display: none;
}

/*******************************************************************************
CRUD
*******************************************************************************/

.crudReadButtons {
    border-top: solid 1px #E5E5E5;
    padding-top: 10px;
}

/*******************************************************************************
Typeahead
*******************************************************************************/
 .twitter-typeahead {    width: 100%;  display: block;  }
 @media (min-width: 768px){
    .twitter-typeahead {  width: auto;  }
 }


.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
  color: #999
}

input.tt-input {
    vertical-align: middle !important;
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

/*******************************************************************************
Charts
*******************************************************************************/

.legend-container span {
    display: inline-block;
    min-width: 20px;
}

.legend-container ul {
    list-style: outside none none;
    padding-left: 13px;
}


h1{
  font-size: 24px;
}

h2  {
  font-size: 22px;
}

h3  {
  font-size: 20px;
}

/*******************************************************************************
Maps
*******************************************************************************/

.map{  border: 1px rgb(211, 211, 211) solid;}

/*******************************************************************************
Angular
*******************************************************************************/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/*******************************************************************************
Brand image / Navbar
*******************************************************************************/
.navbar-brand>img {
  display: inline;
  position: relative;
  top: -7px;
  margin-right: 5px;
  vertical-align: text-top;
}

.navbar{ box-shadow: 1px 0px 5px  #666666 }

/*******************************************************************************
Buttons
*******************************************************************************/
.btn-danger, .btn-default, .btn-info, .btn-primary, .btn-success, .btn-warning {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.23);
}

/*******************************************************************************
Menu
*******************************************************************************/

.portofino-sidenav>li>a {
    position: relative;
    display: block;
    padding: 2px 1px;
}

.portofino-sidenav>li.active { border-left: 2px solid #2B5494; }
.portofino-sidenav>li { padding-left: 5px; border-left: 1px solid transparent; }
.portofino-sidenav>li:hover { border-left: 1px solid #2B5494;  }
.portofino-sidenav>li.active:hover { border-left: 2px solid #2B5494;  }
.portofino-sidenav>li.bookmark:hover { border-left: 1px solid #ffffff; }
.portofino-sidenav>li>a:hover , .portofino-sidenav>li>a:focus  { background-color: white; }
.portofino-sidenav>li.nav-header:hover{ border: none; cursor: default;}

.portofino-sidenav>li.nav-header{
    border: none;
    /*text-align: right;*/
    font-weight: bolder;
    color: #2B5494;
    overflow: hidden;
}

li.active a{
    font-weight: bolder;
    color: #2B5494;
}

li.subpages a{
    /*font-size: smaller;*/
    font-size: 12px;
    /*color: #446aa4;*/
    color: #486a9e;
    line-height: 12px;
}

li.subpages a:hover { /*color: #1c3863;*/ color: #454545; }

.portofino-sidenav>li.subpages:hover { border-left: 1px solid #454545;  }

li.subpages{
    padding-left: 15px;
}

hr.nav-separator{
    margin-top: 0px;
    margin-bottom: 5px;
}

/*******************************************************************************
Checkbox
*******************************************************************************/
.squared-dark {
    width: 20px;
    position: relative;
    margin: 20px auto;
}
.squared-dark label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: -22px;
    left: 0;
    background: -webkit-linear-gradient(top,rgb(255, 255, 255) 0%, rgba(239, 239, 239, 0.85) 100%);
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(239, 239, 239, 0.85) 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.squared-dark label:after {
    content: '';
    width: 11px;
    height: 6px;
    position: absolute;
    top: 5px;
    left: 5px;
    border: 3px solid #333333;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squared-dark input[type=checkbox] {
    visibility: hidden;
    position: absolute;
}
.squared-dark input[type=checkbox]:checked + label:after {
    opacity: 1;
}

/* end .squared-dark */

.squared-standard {
    width: 19px;
    position: relative;
    margin: 19px auto;
}
.squared-standard label {
    width: 19px;
    height: 19px;
    cursor: pointer;
    left: 0;
    border: 1px solid #ccc;
    background: #FFFFFF;
    border-radius: 4px;
}
.squared-standard label:after {
    content: '';
    width: 10px;
    height: 6px;
    position: absolute;
    top: 5px;
    left: 4px;
    border: 3px solid #337AB7;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squared-standard input[type=checkbox] {
    visibility: hidden;
    position: absolute;
}

.squared-standard input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.squared-light {
    width: 15px;
    position: relative;
    margin: auto auto;
}

.squared-light label {
    width: 20px;
    height: 15px;
    cursor: pointer;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
    background: linear-gradient(to bottom, #FFFFFF 0%, rgba(219, 219, 219, 0) 100%);
    border-radius: 3px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}

.squared-light label:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #337AB7;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squared-light input[type=checkbox] {
    visibility: hidden;
    position: absolute;
}

.squared-light input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.form-inline .searchform div.form-control.checkbox, .form-inline .searchform div.form-control.radio,
.form-inline .searchform div.form-control.multiple-select , div.form-control.checkbox , div.form-control.radio{
    background-color: transparent;
    border: medium none;
    box-shadow: none;
}

.form-control.checkbox.squared-standard{
    width: auto;
    display: inline;
}

.form-control.checkbox.squared-standard>span {
    margin-left: 2px;
    font-size: smaller;
    display: block;
    float: left;
}

.form-inline .radio input[type=radio] , .radio input[type=radio], .radio-inline input[type=radio]  {
    position: absolute;
}

@media (min-width: 768px){
.form-inline .checkbox input[type=checkbox], .form-inline .radio input[type=radio] {
    margin-left: 0;
}
}

.radio input[type=radio], .radio-inline input[type=radio],
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    opacity: 0;
    min-width: 0;
}

.checkbox label, .radio label {
    padding-left: 12px;
}

.checkbox label:before, .checkbox-inline label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    bottom: 6px;
    background-color: #fff;
    border: 1px rgb(211, 211, 211) solid;
    border-radius: 3px;
}

.radio input[type=radio]:checked + label:before, .radio-inline input[type=radio]:checked + label:before {
    content: "\25cf";
    color: #337AB7;
    font-size: 16px;
    text-align: center;
    line-height: 17px;
    font-family: initial;
    border: 1px solid;
}

.radio input[type=radio]:focus + label:before, .radio-inline input[type=radio]:focus + label:before {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)
}

.checkbox input[type=checkbox]:checked + label:before, .checkbox-inline input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 15px;
    font-weight: bolder;
    color: #337AB7;
    text-align: center;
    line-height: 15px;
}

.checkbox input[type=checkbox]:focus + label:before, .checkbox-inline input[type=checkbox]:focus + label:before {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)
}

/*TODO */
.form-inline .checkbox label{  padding-left: 5px; }
.radio-inline { padding-left: 5px; }

.checkbox {
    height: 100%;
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .checkbox { margin-right: 10px; }
    .form-horizontal .checkbox, .form-horizontal .checkbox-inline { margin-top: 5px;}
}

.checkbox, .radio {
    margin-top: 2px;
    margin-bottom: 2px;
}

 /**/

.radio label:before, .radio-inline label:before {
    border-radius: 10px;
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    left: 0;
    margin-bottom: -3px;
    background-color: #fff;
    border: 1px rgb(211, 211, 211) solid;
}

.form-inline .radio label { padding-left: 20px; margin-left: 10px;}
.radio{ height: 100%; }
.radio label {
    padding-left: 0px;
    margin-right: 15px;
}

/***********************
MENU MOBILE
***********************/
.dropdown.mobile { display: none; }

@media screen and (max-width: 768px) {
    .navigation { display: none; }
    .dropdown.mobile { display: block; }
}

/***********
modal-dialog
***********/

.spacer { height: 35%; }

/**********
file input
*********/
div.fileinput { margin-top: 10px; }
/***********
TEST
***********/
 .table th {
    background: -webkit-linear-gradient(top, rgb(241, 241, 241) 0%, rgba(241, 241, 241, 0.5) 100%);
    background: linear-gradient(to bottom, rgb(241, 241, 241) 0%, rgba(255, 255, 255, 0) 100%);
}

.table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td, .table-condensed>thead>tr>td{
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 13px;
}

.table-condensed>tbody>tr>th,  .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>th {
    padding-top: 4px;
    padding-bottom: 4px;
}

.table th:first-child{ border-radius:6px 0 0 6px; }
.table th:last-child{ border-radius:0 6px 6px 0; }
.table-bordered th:last-child , .table-bordered th:first-child{ border-radius: 0px; }
.table thead>tr { border:0px; }
.table-bordered  thead>tr { border-bottom:1px solid #dddddd; }
.table>thead>tr>th { border-bottom: 1px solid #ddd; }

.table>tbody>tr>td, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td {
    border-top: 0px;
    border-bottom: 0px;
}

em.pull-right.glyphicon.glyphicon-chevron-up , em.pull-right.glyphicon.glyphicon-chevron-down {
    margin-top: -2px;
    margin-bottom: -2px;
    margin-left: 1px;
}

label { margin-bottom: 0px; }

.table>thead>tr>th {
    color: #333;
    text-shadow: 1px 1px 0px #FFFFFF;
}

.search_form_toggle_link {
    background: -webkit-linear-gradient(top, rgb(241, 241, 241) 0%, rgb(220, 220, 220) 100%);
    background: linear-gradient(to bottom, rgb(241, 241, 241) 0%,  rgb(220, 220, 220) 100%);
    padding: 4px 40px 5px 40px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 1px 1px 2px gray;
    position: relative;
    top: -12px;
    left: 25px;
    color: #4C4C4C;
    font-size: 12px;
    background-color:#ddd;
}

.search_form_toggle_link:hover { text-decoration: none; }
.search_form_toggle_link:focus { text-decoration: none; }
div.form-control { background-color: transparent; }

.form-inline .radio label {
    padding-left: 5px;
    margin-left: 5px;
}

select.form-control::-ms-expand {
    border: none;
    background: #fff;
}

/*****************
TEST MOBILE
*****************/

@media screen and (max-width: 768px) {
    .checkbox label:before, .checkbox-inline label:before{
        width: 30px  ;
        height: 30px;
        margin-top: 10px;
        bottom: 10px;
    }

    .form-inline .checkbox label {
        margin-bottom: 10px;
    }

    .checkbox input[type=checkbox]:checked + label:before, .checkbox-inline input[type=checkbox]:checked + label:before {
        font-size: 25px;
        line-height: 25px;
    }

    .input-container  .checkbox label:before {
        bottom: 0px;
    }

    .form-horizontal .table .checkbox{
        width: 30px;
        margin-right: 5px;
    }

    .checkbox label:before, .checkbox-inline label:before{
        bottom: 2px;
    }

    .form-inline .checkbox label{
        padding-left: 20px;
    }
}

@media (max-width: 991px) {
    .form-horizontal.read fieldset{ }

    .form-horizontal.read .row { }
    .form-horizontal.read .control-label {
        padding-left: 5px;
        padding-right: 5px;
    }
    .form-horizontal.read .input-container {
        padding-left: 5px;
        padding-right: 5px;
    }
}


/*For smaller device, tab control should not appear*/
@media (max-width: 767px) {
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        padding: 5px;
    }
    .form-horizontal .control-label {
        width: auto;
    }

    .form-group.readonly {
        display: table;
    }

    .form-horizontal .control-label {
        display: table-cell;
    }

    .form-horizontal .input-container {
        width: auto;
    }
}
